.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.800781;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:Times New Roman,Bold,sans-serif;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-24.000000px;}
.ls7{letter-spacing:-1.560000px;}
.ls6{letter-spacing:-0.120000px;}
.ls5{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.120000px;}
.ls1{letter-spacing:0.192000px;}
.ls2{letter-spacing:0.192240px;}
.ls0{letter-spacing:0.240000px;}
.ls3{letter-spacing:10.260000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-48.240000px;}
.ws9{word-spacing:-48.192000px;}
.ws4{word-spacing:-48.000000px;}
.ws7{word-spacing:-47.982400px;}
.ws8{word-spacing:-47.886880px;}
.ws10{word-spacing:-42.000000px;}
.ws23{word-spacing:-36.016000px;}
.wsd{word-spacing:-36.000000px;}
.ws17{word-spacing:-35.920000px;}
.wsa{word-spacing:-35.824000px;}
.wsf{word-spacing:-31.500000px;}
.wse{word-spacing:-31.420000px;}
.ws1c{word-spacing:-12.000000px;}
.wsb{word-spacing:-11.920000px;}
.wsc{word-spacing:-11.856000px;}
.ws5{word-spacing:0.000000px;}
.ws1d{word-spacing:0.120000px;}
.ws0{word-spacing:9.000000px;}
.ws15{word-spacing:10.140000px;}
.ws1e{word-spacing:10.220000px;}
.ws19{word-spacing:10.362000px;}
.ws14{word-spacing:10.368000px;}
.ws16{word-spacing:10.380000px;}
.ws20{word-spacing:10.392000px;}
.ws1b{word-spacing:10.452000px;}
.ws21{word-spacing:10.460000px;}
.ws12{word-spacing:10.518000px;}
.ws1a{word-spacing:10.542000px;}
.ws11{word-spacing:10.620000px;}
.ws18{word-spacing:10.622000px;}
.ws13{word-spacing:10.680000px;}
.ws22{word-spacing:12.000000px;}
.ws1f{word-spacing:13.580000px;}
.ws6{word-spacing:24.000000px;}
.ws3{word-spacing:193.184000px;}
.ws2{word-spacing:241.200000px;}
._b{margin-left:-23.920000px;}
._2{margin-left:-20.874000px;}
._6{margin-left:-19.194000px;}
._3{margin-left:-10.626000px;}
._a{margin-left:-9.600000px;}
._9{margin-left:-4.800000px;}
._1{margin-left:-2.880000px;}
._8{margin-left:-1.512000px;}
._0{width:9.000000px;}
._5{width:10.500000px;}
._4{width:12.000000px;}
._7{width:18.000000px;}
._c{width:24.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs3{font-size:42.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:64.080000px;}
.y0{bottom:0.000000px;}
.y3{bottom:2.220000px;}
.y23{bottom:3.660000px;}
.y2e{bottom:10.440000px;}
.y29{bottom:10.460000px;}
.y10{bottom:10.500000px;}
.y25{bottom:10.520000px;}
.y22{bottom:17.280000px;}
.y24{bottom:17.300000px;}
.y1f{bottom:18.600000px;}
.y2{bottom:35.880000px;}
.y1{bottom:38.100000px;}
.y13{bottom:47.340000px;}
.y1d{bottom:47.360000px;}
.y12{bottom:60.960000px;}
.y1c{bottom:60.980000px;}
.y1b{bottom:82.860000px;}
.y41{bottom:88.980000px;}
.y21{bottom:111.980000px;}
.y40{bottom:112.340000px;}
.y3f{bottom:135.740000px;}
.y20{bottom:141.080000px;}
.y3e{bottom:159.080000px;}
.y1e{bottom:170.180000px;}
.y3d{bottom:182.420000px;}
.y2c{bottom:192.800000px;}
.y3c{bottom:197.120000px;}
.y1a{bottom:199.280000px;}
.y2b{bottom:206.420000px;}
.y3b{bottom:211.280000px;}
.y2a{bottom:240.380000px;}
.y19{bottom:241.880000px;}
.y18{bottom:256.700000px;}
.y3a{bottom:269.480000px;}
.y17{bottom:270.740000px;}
.y39{bottom:298.580000px;}
.y11{bottom:299.840000px;}
.y38{bottom:327.680000px;}
.y16{bottom:328.940000px;}
.y37{bottom:356.780000px;}
.y15{bottom:358.040000px;}
.y36{bottom:385.900000px;}
.y14{bottom:387.160000px;}
.y35{bottom:415.000000px;}
.yf{bottom:416.260000px;}
.y4c{bottom:443.200000px;}
.y34{bottom:444.100000px;}
.ye{bottom:458.920000px;}
.y4b{bottom:464.200000px;}
.y33{bottom:473.200000px;}
.yd{bottom:482.260000px;}
.y4a{bottom:487.540000px;}
.y32{bottom:502.300000px;}
.yc{bottom:505.600000px;}
.y49{bottom:509.260000px;}
.yb{bottom:528.940000px;}
.y48{bottom:529.960000px;}
.y31{bottom:531.400000px;}
.ya{bottom:552.280000px;}
.y30{bottom:560.500000px;}
.y47{bottom:567.880000px;}
.y9{bottom:575.620000px;}
.y2f{bottom:589.600000px;}
.y46{bottom:591.220000px;}
.y8{bottom:598.960000px;}
.y45{bottom:614.560000px;}
.y2d{bottom:618.700000px;}
.y7{bottom:622.300000px;}
.y44{bottom:637.900000px;}
.y28{bottom:647.800000px;}
.y6{bottom:649.480000px;}
.y43{bottom:661.260000px;}
.y5{bottom:680.640000px;}
.y42{bottom:684.600000px;}
.y27{bottom:690.420000px;}
.y4{bottom:707.940000px;}
.y26{bottom:711.000000px;}
.h3{height:10.380000px;}
.hd{height:28.320000px;}
.hf{height:28.340000px;}
.h8{height:28.380000px;}
.hc{height:28.400000px;}
.h11{height:28.828125px;}
.h2{height:33.264000px;}
.hb{height:34.781250px;}
.h14{height:38.437500px;}
.h13{height:38.500000px;}
.h9{height:38.808000px;}
.h6{height:39.750000px;}
.h7{height:44.352000px;}
.h4{height:46.080000px;}
.h5{height:61.516800px;}
.he{height:115.640000px;}
.ha{height:115.700000px;}
.h12{height:406.640000px;}
.h1{height:447.500000px;}
.h10{height:679.000000px;}
.h0{height:792.000000px;}
.w2{width:4.560000px;}
.w7{width:66.560000px;}
.wc{width:67.500000px;}
.w3{width:71.960000px;}
.w4{width:73.080000px;}
.w5{width:73.100000px;}
.wb{width:73.760000px;}
.w8{width:89.280000px;}
.w9{width:146.900000px;}
.wa{width:147.560000px;}
.w6{width:293.380000px;}
.w1{width:529.000000px;}
.w0{width:612.000000px;}
.x3{left:0.000000px;}
.x8{left:3.900000px;}
.xa{left:5.040000px;}
.x13{left:11.720000px;}
.x1b{left:15.540000px;}
.x17{left:20.940000px;}
.x15{left:23.640000px;}
.x1d{left:32.240000px;}
.x1c{left:35.640000px;}
.x10{left:39.180000px;}
.x11{left:40.940000px;}
.xf{left:44.400000px;}
.x1e{left:62.840000px;}
.x1f{left:64.640000px;}
.x0{left:83.000000px;}
.x7{left:86.100000px;}
.x1{left:90.000000px;}
.x20{left:108.020000px;}
.x6{left:114.140000px;}
.x12{left:135.620000px;}
.x14{left:153.380000px;}
.x9{left:158.780000px;}
.x5{left:185.540000px;}
.x4{left:209.660000px;}
.xb{left:232.580000px;}
.x16{left:243.380000px;}
.x2{left:303.760000px;}
.xc{left:306.400000px;}
.x19{left:317.200000px;}
.x23{left:342.040000px;}
.xd{left:380.200000px;}
.x18{left:391.000000px;}
.x24{left:414.040000px;}
.xe{left:454.000000px;}
.x1a{left:464.800000px;}
.x22{left:522.060000px;}
.x21{left:544.500000px;}
