.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.820312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.683594;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192240px;}
.ls8{letter-spacing:0.240000px;}
.ls6{letter-spacing:12.000000px;}
.ls4{letter-spacing:12.240000px;}
.ls5{letter-spacing:12.480000px;}
.ls2{letter-spacing:15.360000px;}
.ls3{letter-spacing:15.600000px;}
.ls0{letter-spacing:24.000000px;}
.ls9{letter-spacing:48.000000px;}
.lsa{letter-spacing:48.080000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-48.000000px;}
.wsc{word-spacing:-36.000000px;}
.wse{word-spacing:-35.920000px;}
.ws9{word-spacing:-35.520000px;}
.ws6{word-spacing:-31.834640px;}
.ws5{word-spacing:-31.817920px;}
.ws4{word-spacing:-24.000000px;}
.ws10{word-spacing:-23.920000px;}
.ws7{word-spacing:-23.840000px;}
.ws11{word-spacing:-15.120000px;}
.wsd{word-spacing:-12.000000px;}
.wsa{word-spacing:-11.520000px;}
.wsb{word-spacing:-11.440000px;}
.ws8{word-spacing:-8.640000px;}
.wsf{word-spacing:0.000000px;}
.ws12{word-spacing:0.080000px;}
.ws13{word-spacing:0.160000px;}
.ws0{word-spacing:9.000000px;}
.ws3{word-spacing:96.080000px;}
.ws2{word-spacing:144.000000px;}
._4{margin-left:-21.600000px;}
._2{margin-left:-18.720000px;}
._3{margin-left:-3.280000px;}
._6{width:1.104000px;}
._0{width:9.000000px;}
._1{width:24.000000px;}
._5{width:120.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:64.080000px;}
.y3{bottom:2.220000px;}
.y14{bottom:7.380000px;}
.y16{bottom:7.440000px;}
.y21{bottom:7.680000px;}
.y19{bottom:19.080000px;}
.y1b{bottom:19.140000px;}
.y22{bottom:19.380000px;}
.y26{bottom:19.620000px;}
.y1a{bottom:30.780000px;}
.y20{bottom:31.080000px;}
.y25{bottom:43.020000px;}
.y2{bottom:49.500000px;}
.y1{bottom:51.720000px;}
.y29{bottom:77.040000px;}
.y0{bottom:93.000000px;}
.y24{bottom:93.540000px;}
.y28{bottom:117.480000px;}
.y27{bottom:141.380000px;}
.y1f{bottom:165.260000px;}
.y23{bottom:189.200000px;}
.y1e{bottom:220.460000px;}
.y1d{bottom:243.860000px;}
.y1c{bottom:260.360000px;}
.y18{bottom:284.300000px;}
.y17{bottom:331.580000px;}
.y15{bottom:355.460000px;}
.y13{bottom:379.400000px;}
.y12{bottom:410.660000px;}
.y11{bottom:434.080000px;}
.y35{bottom:449.680000px;}
.y10{bottom:457.480000px;}
.y34{bottom:473.080000px;}
.yf{bottom:480.880000px;}
.y33{bottom:496.480000px;}
.ye{bottom:504.280000px;}
.y32{bottom:519.880000px;}
.yd{bottom:527.680000px;}
.y31{bottom:543.280000px;}
.yc{bottom:551.080000px;}
.y30{bottom:566.680000px;}
.yb{bottom:574.480000px;}
.y2f{bottom:590.080000px;}
.ya{bottom:597.880000px;}
.y2e{bottom:613.480000px;}
.y9{bottom:621.280000px;}
.y2d{bottom:636.880000px;}
.y8{bottom:644.680000px;}
.y2c{bottom:660.280000px;}
.y7{bottom:670.600000px;}
.y2b{bottom:683.680000px;}
.y6{bottom:701.820000px;}
.y2a{bottom:707.100000px;}
.y5{bottom:730.500000px;}
.y4{bottom:753.900000px;}
.h3{height:10.380000px;}
.h7{height:23.400000px;}
.hb{height:23.420000px;}
.h2{height:33.264000px;}
.h5{height:33.750000px;}
.h4{height:39.750000px;}
.h8{height:46.800000px;}
.h9{height:47.340000px;}
.h6{height:52.315312px;}
.ha{height:71.240000px;}
.h1{height:310.500000px;}
.h0{height:841.920000px;}
.w2{width:4.560000px;}
.w8{width:40.380000px;}
.wf{width:51.600000px;}
.w4{width:61.500000px;}
.wd{width:63.300000px;}
.w6{width:65.460000px;}
.w3{width:70.500000px;}
.w7{width:70.520000px;}
.we{width:77.420000px;}
.wc{width:77.480000px;}
.w5{width:84.560000px;}
.w9{width:112.920000px;}
.wb{width:129.620000px;}
.wa{width:141.260000px;}
.w1{width:426.500000px;}
.w0{width:595.320000px;}
.x3{left:0.000000px;}
.x12{left:5.220000px;}
.xa{left:6.660000px;}
.xd{left:8.700000px;}
.x8{left:11.220000px;}
.x10{left:12.300000px;}
.x1f{left:13.740000px;}
.x20{left:16.620000px;}
.xb{left:18.300000px;}
.x1d{left:19.620000px;}
.x11{left:20.700000px;}
.x13{left:23.220000px;}
.x1b{left:26.720000px;}
.x19{left:28.640000px;}
.x14{left:30.660000px;}
.x16{left:32.700000px;}
.x15{left:42.320000px;}
.x0{left:84.500000px;}
.x1{left:90.020000px;}
.x7{left:114.020000px;}
.x17{left:125.720000px;}
.x6{left:153.140000px;}
.x9{left:155.900000px;}
.x5{left:217.340000px;}
.x18{left:239.120000px;}
.x2{left:295.420000px;}
.x4{left:297.700000px;}
.xc{left:302.920000px;}
.x1c{left:317.080000px;}
.x21{left:342.040000px;}
.x23{left:348.040000px;}
.xe{left:368.920000px;}
.x22{left:372.040000px;}
.x1a{left:380.920000px;}
.xf{left:439.980000px;}
.x1e{left:458.880000px;}
