.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.707031;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.683594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.703125;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
.ff8{font-family:Arial,monospace;font-weight:normal;font-style:normal;line-height:1.237016;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-24.000000px;}
.ls3{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.480000px;}
.ls7{letter-spacing:2.400000px;}
.ls1{letter-spacing:12.000000px;}
.ls6{letter-spacing:12.080000px;}
.ls2{letter-spacing:12.120000px;}
.ls0{letter-spacing:36.144000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-54.000000px;}
.ws13{word-spacing:-48.480000px;}
.ws0{word-spacing:-48.000000px;}
.wsd{word-spacing:-36.016000px;}
.ws3{word-spacing:-36.000000px;}
.ws5{word-spacing:-35.920000px;}
.wsf{word-spacing:-35.896000px;}
.ws16{word-spacing:-35.880000px;}
.ws18{word-spacing:-35.816000px;}
.ws17{word-spacing:-35.800000px;}
.wse{word-spacing:-34.576000px;}
.ws7{word-spacing:-24.016000px;}
.ws12{word-spacing:-24.000000px;}
.ws14{word-spacing:-23.952000px;}
.ws8{word-spacing:-23.880000px;}
.ws1a{word-spacing:-23.816000px;}
.ws19{word-spacing:-23.784000px;}
.ws11{word-spacing:-23.736000px;}
.ws15{word-spacing:-23.680000px;}
.wsb{word-spacing:0.000000px;}
.ws9{word-spacing:0.120000px;}
.ws10{word-spacing:10.080000px;}
.wsc{word-spacing:12.000000px;}
.wsa{word-spacing:12.120000px;}
.ws4{word-spacing:12.480000px;}
.ws2{word-spacing:120.080000px;}
.ws1{word-spacing:216.600000px;}
._6{margin-left:-23.936000px;}
._7{margin-left:-18.616000px;}
._9{margin-left:-14.416000px;}
._8{margin-left:-10.704000px;}
._4{margin-left:-9.600000px;}
._0{margin-left:-7.216000px;}
._c{margin-left:-5.744000px;}
._b{margin-left:-3.120000px;}
._1{margin-left:-1.920000px;}
._5{width:1.560000px;}
._a{width:12.000000px;}
._d{width:24.000000px;}
._3{width:28.080000px;}
._2{width:30.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs3{font-size:56.160000px;}
.fs1{font-size:60.000000px;}
.fs2{font-size:72.000000px;}
.y37{bottom:122.060000px;}
.y1b{bottom:123.140000px;}
.y36{bottom:145.460000px;}
.y1a{bottom:146.540000px;}
.y35{bottom:168.860000px;}
.y19{bottom:169.940000px;}
.y34{bottom:192.260000px;}
.y18{bottom:193.340000px;}
.y33{bottom:215.660000px;}
.y17{bottom:219.020000px;}
.y32{bottom:239.060000px;}
.y16{bottom:241.340000px;}
.y31{bottom:262.460000px;}
.y15{bottom:264.620000px;}
.y30{bottom:285.890000px;}
.y14{bottom:286.490000px;}
.y13{bottom:308.690000px;}
.y2f{bottom:309.290000px;}
.y12{bottom:332.090000px;}
.y2e{bottom:332.690000px;}
.y11{bottom:355.370000px;}
.y2d{bottom:356.090000px;}
.y10{bottom:378.770000px;}
.y2c{bottom:379.490000px;}
.yf{bottom:402.050000px;}
.y2b{bottom:402.890000px;}
.ye{bottom:425.450000px;}
.y2a{bottom:426.290000px;}
.yd{bottom:448.750000px;}
.y29{bottom:449.710000px;}
.yc{bottom:472.150000px;}
.y28{bottom:473.110000px;}
.yb{bottom:495.550000px;}
.y27{bottom:496.510000px;}
.ya{bottom:518.830000px;}
.y26{bottom:519.910000px;}
.y9{bottom:536.230000px;}
.y25{bottom:543.310000px;}
.y0{bottom:558.000000px;}
.y24{bottom:566.710000px;}
.y8{bottom:570.550000px;}
.y23{bottom:590.110000px;}
.y7{bottom:594.070000px;}
.y22{bottom:613.540000px;}
.y6{bottom:617.380000px;}
.y5{bottom:636.340000px;}
.y21{bottom:636.940000px;}
.y20{bottom:660.340000px;}
.y4{bottom:663.460000px;}
.y1f{bottom:683.740000px;}
.y3{bottom:691.420000px;}
.y1e{bottom:707.140000px;}
.y2{bottom:719.500000px;}
.y1d{bottom:730.540000px;}
.y1{bottom:747.460000px;}
.y1c{bottom:753.940000px;}
.h9{height:33.750000px;}
.h6{height:39.706875px;}
.h7{height:39.750000px;}
.h3{height:42.421875px;}
.h2{height:44.352000px;}
.h8{height:45.744000px;}
.h4{height:58.781250px;}
.h5{height:66.528000px;}
.h1{height:73.000000px;}
.h0{height:841.920000px;}
.w1{width:427.500000px;}
.w0{width:595.320000px;}
.x0{left:84.000000px;}
.x1{left:90.024000px;}
.x5{left:114.020000px;}
.x3{left:171.620000px;}
.x4{left:189.620000px;}
.x2{left:297.650000px;}
.x7{left:301.370000px;}
.x8{left:389.830000px;}
.x6{left:505.420000px;}
