.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:Times-Bold,serif;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:Times-Roman,serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.845703;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249852,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249855,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249855,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249855,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.249857,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249857,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249857,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249859,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.031702px;}
.ls8{letter-spacing:0.031746px;}
.ls9{letter-spacing:0.252240px;}
.ls5{letter-spacing:0.263480px;}
.ls0{letter-spacing:0.504879px;}
.ls1{letter-spacing:0.525360px;}
.ls4{letter-spacing:9.160407px;}
.lsa{letter-spacing:13.967211px;}
.ls7{letter-spacing:14.071611px;}
.ls2{letter-spacing:15.396812px;}
.ls3{letter-spacing:15.880813px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsb{word-spacing:-56.160045px;}
.ws2{word-spacing:-48.504917px;}
.ws0{word-spacing:-48.000038px;}
.ws10{word-spacing:-46.517224px;}
.ws1c{word-spacing:-42.741631px;}
.ws15{word-spacing:-42.741452px;}
.ws1a{word-spacing:-42.676233px;}
.ws19{word-spacing:-42.267644px;}
.ws12{word-spacing:-42.257077px;}
.ws13{word-spacing:-42.204136px;}
.wsc{word-spacing:-42.203877px;}
.ws1d{word-spacing:-42.075601px;}
.ws7{word-spacing:-40.752033px;}
.ws16{word-spacing:-39.785127px;}
.ws5{word-spacing:-36.525389px;}
.ws6{word-spacing:-21.120017px;}
.ws17{word-spacing:-16.398733px;}
.ws11{word-spacing:0.000000px;}
.wse{word-spacing:9.857468px;}
.wsf{word-spacing:9.861214px;}
.ws4{word-spacing:11.526351px;}
.ws1e{word-spacing:13.698109px;}
.ws1f{word-spacing:14.176202px;}
.ws1b{word-spacing:14.176353px;}
.ws20{word-spacing:14.180259px;}
.ws14{word-spacing:14.183635px;}
.wsd{word-spacing:14.191400px;}
.ws9{word-spacing:15.621162px;}
.ws8{word-spacing:15.624672px;}
.wsa{word-spacing:15.624818px;}
.ws18{word-spacing:16.585155px;}
.ws3{word-spacing:169.601008px;}
.ws1{word-spacing:241.108567px;}
._7{margin-left:-867.865672px;}
._9{margin-left:-579.235284px;}
._1{margin-left:-192.085194px;}
._5{margin-left:-191.032081px;}
._2{margin-left:-47.043206px;}
._8{margin-left:-35.043292px;}
._c{margin-left:-29.059100px;}
._d{margin-left:-19.013224px;}
._3{margin-left:-12.935541px;}
._b{margin-left:-5.690033px;}
._a{margin-left:-4.572583px;}
._4{margin-left:-1.482537px;}
._0{width:1.041857px;}
._10{width:10.560008px;}
._6{width:12.000010px;}
._e{width:14.040011px;}
._f{width:784.286877px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:42.240034px;}
.fs0{font-size:48.000038px;}
.fs3{font-size:56.160045px;}
.fs1{font-size:72.000058px;}
.y17{bottom:228.080182px;}
.y16{bottom:250.161000px;}
.y15{bottom:281.360125px;}
.y14{bottom:312.801050px;}
.y13{bottom:343.761075px;}
.y12{bottom:374.960200px;}
.y11{bottom:406.162125px;}
.y10{bottom:437.361250px;}
.yf{bottom:468.560375px;}
.ye{bottom:499.762300px;}
.yd{bottom:530.961425px;}
.yc{bottom:562.160550px;}
.yb{bottom:593.362475px;}
.ya{bottom:617.960694px;}
.y9{bottom:633.561607px;}
.y8{bottom:649.162519px;}
.y7{bottom:664.161531px;}
.y6{bottom:685.280573px;}
.y5{bottom:685.522448px;}
.y4{bottom:716.482511px;}
.y3{bottom:716.721573px;}
.y2{bottom:742.160594px;}
.y1{bottom:757.761543px;}
.y0{bottom:758.000606px;}
.h4{height:34.650028px;}
.h7{height:39.029791px;}
.h1{height:39.750032px;}
.h2{height:46.080037px;}
.h6{height:46.507537px;}
.h5{height:51.891882px;}
.h3{height:59.062547px;}
.h0{height:842.000000px;}
.w0{width:595.000000px;}
.x0{left:90.239172px;}
.xc{left:111.001089px;}
.xd{left:117.959094px;}
.x1{left:138.240165px;}
.xf{left:152.517610px;}
.x8{left:189.360151px;}
.xa{left:225.481071px;}
.x2{left:243.000132px;}
.x3{left:291.361116px;}
.xe{left:295.198207px;}
.x7{left:297.599805px;}
.x4{left:300.119253px;}
.xb{left:369.959325px;}
.x5{left:402.359447px;}
.x9{left:406.201604px;}
.x6{left:450.720432px;}
