.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:ArialMT,monospace;font-weight:normal;font-style:normal;line-height:1.213379;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.981445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925781;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:TimesNewRomanPSMT,serif;font-weight:normal;font-style:normal;line-height:1.284668;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.ff6{font-family:TimesNewRomanPS-BoldMT,serif;font-weight:bold;font-style:normal;line-height:1.311035;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v1{vertical-align:-34.801200px;}
.v5{vertical-align:-10.798200px;}
.v7{vertical-align:-4.078200px;}
.v0{vertical-align:0.000000px;}
.v6{vertical-align:6.720000px;}
.v3{vertical-align:24.481800px;}
.v2{vertical-align:31.201800px;}
.v4{vertical-align:37.921800px;}
.ls7{letter-spacing:-7.920000px;}
.ls9{letter-spacing:-0.067200px;}
.lsa{letter-spacing:-0.037800px;}
.ls8{letter-spacing:-0.028800px;}
.lsb{letter-spacing:-0.008400px;}
.ls5{letter-spacing:0.000000px;}
.lsf{letter-spacing:0.092400px;}
.lsd{letter-spacing:0.105000px;}
.lsc{letter-spacing:0.109200px;}
.ls11{letter-spacing:0.113400px;}
.lse{letter-spacing:0.121800px;}
.ls14{letter-spacing:0.153600px;}
.ls2{letter-spacing:0.206400px;}
.ls0{letter-spacing:0.223680px;}
.ls12{letter-spacing:0.240000px;}
.ls13{letter-spacing:0.278400px;}
.ls1{letter-spacing:0.926400px;}
.ls6{letter-spacing:0.960000px;}
.ls10{letter-spacing:10.621800px;}
.ls3{letter-spacing:12.000000px;}
.ls15{letter-spacing:48.000000px;}
.ls4{letter-spacing:238.014000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws18{word-spacing:-202.015800px;}
.ws1b{word-spacing:-48.278400px;}
.ws1c{word-spacing:-48.153600px;}
.ws4{word-spacing:-48.000000px;}
.ws0{word-spacing:-45.000000px;}
.wse{word-spacing:-42.000000px;}
.ws2{word-spacing:-36.000000px;}
.ws8{word-spacing:-33.360000px;}
.wsb{word-spacing:-31.500000px;}
.ws6{word-spacing:-29.280000px;}
.ws1{word-spacing:-24.926400px;}
.ws3{word-spacing:0.000000px;}
.ws5{word-spacing:12.000000px;}
.ws9{word-spacing:14.640000px;}
.ws7{word-spacing:18.720000px;}
.ws14{word-spacing:23.280600px;}
.ws19{word-spacing:29.521800px;}
.ws1a{word-spacing:77.893200px;}
.wsa{word-spacing:84.000000px;}
.wsf{word-spacing:91.270200px;}
.wsc{word-spacing:114.000600px;}
.ws10{word-spacing:119.595000px;}
.ws12{word-spacing:119.670600px;}
.ws16{word-spacing:119.691600px;}
.ws13{word-spacing:142.216200px;}
.wsd{word-spacing:156.958200px;}
.ws15{word-spacing:178.193400px;}
.ws17{word-spacing:209.038200px;}
.ws11{word-spacing:277.678800px;}
._9{margin-left:-36.241800px;}
._4{margin-left:-24.000000px;}
._c{margin-left:-19.440000px;}
._5{margin-left:-7.920000px;}
._3{margin-left:-6.000000px;}
._6{margin-left:-1.041600px;}
._1{width:1.028928px;}
._0{width:10.008000px;}
._d{width:12.000000px;}
._2{width:14.315520px;}
._e{width:48.000000px;}
._8{width:105.121800px;}
._b{width:120.733200px;}
._a{width:155.988000px;}
._7{width:178.332000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs4{font-size:42.000000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:55.920000px;}
.fs2{font-size:60.000000px;}
.y0{bottom:6.000000px;}
.y2{bottom:6.140300px;}
.y1f{bottom:80.000300px;}
.y1e{bottom:105.980300px;}
.y1d{bottom:132.020300px;}
.y1c{bottom:158.000300px;}
.y1b{bottom:189.020300px;}
.y1a{bottom:212.899850px;}
.y19{bottom:235.400300px;}
.y18{bottom:237.800300px;}
.y17{bottom:261.740400px;}
.y15{bottom:280.700600px;}
.y16{bottom:280.701650px;}
.y14{bottom:297.200300px;}
.y13{bottom:312.800400px;}
.y12{bottom:336.440300px;}
.y11{bottom:362.480300px;}
.y10{bottom:388.460300px;}
.yf{bottom:414.440300px;}
.ye{bottom:440.480300px;}
.yd{bottom:466.460300px;}
.yc{bottom:492.440300px;}
.y2c{bottom:515.480300px;}
.yb{bottom:518.480300px;}
.y2b{bottom:537.500300px;}
.ya{bottom:544.460300px;}
.y2a{bottom:559.460300px;}
.y9{bottom:570.440300px;}
.y29{bottom:585.380300px;}
.y8{bottom:596.480300px;}
.y28{bottom:608.780300px;}
.y7{bottom:630.260300px;}
.y27{bottom:632.180300px;}
.y26{bottom:655.520300px;}
.y6{bottom:656.240300px;}
.y25{bottom:678.980300px;}
.y5{bottom:696.740300px;}
.y24{bottom:702.380300px;}
.y23{bottom:725.780300px;}
.y4{bottom:727.940300px;}
.y22{bottom:745.280300px;}
.y21{bottom:771.260300px;}
.y3{bottom:775.160300px;}
.y20{bottom:797.240300px;}
.y1{bottom:821.780300px;}
.hc{height:27.500000px;}
.h2{height:32.765625px;}
.ha{height:37.142503px;}
.h7{height:39.750000px;}
.h5{height:40.734375px;}
.h8{height:41.220703px;}
.hb{height:41.849325px;}
.h6{height:47.109375px;}
.h3{height:47.455547px;}
.h4{height:58.886719px;}
.h9{height:97.184850px;}
.h1{height:319.000000px;}
.h0{height:842.000000px;}
.w1{width:415.500000px;}
.w0{width:595.220000px;}
.x0{left:90.000000px;}
.x7{left:91.500000px;}
.x2{left:95.400000px;}
.xc{left:102.720000px;}
.x5{left:114.000000px;}
.xa{left:140.400000px;}
.xb{left:143.639850px;}
.x3{left:200.160000px;}
.x4{left:237.660000px;}
.x6{left:267.720000px;}
.xd{left:303.660000px;}
.xf{left:321.660000px;}
.x8{left:328.139550px;}
.xe{left:351.660000px;}
.x9{left:458.639850px;}
.x1{left:505.020000px;}
