.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.906250;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.683594;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.080000px;}
.ls1{letter-spacing:0.120000px;}
.ls0{letter-spacing:0.432000px;}
.ls3{letter-spacing:0.480000px;}
.ls9{letter-spacing:12.000000px;}
.ls8{letter-spacing:12.480000px;}
.lsa{letter-spacing:12.600000px;}
.ls4{letter-spacing:24.000000px;}
.ls5{letter-spacing:48.120000px;}
.ls7{letter-spacing:48.600000px;}
.ls6{letter-spacing:72.480000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:-48.000000px;}
.ws4{word-spacing:-36.232000px;}
.ws5{word-spacing:-28.096000px;}
.ws7{word-spacing:-24.000000px;}
.ws6{word-spacing:-23.896000px;}
.wsa{word-spacing:-23.592000px;}
.wsc{word-spacing:-12.000000px;}
.wsb{word-spacing:-11.904000px;}
.ws3{word-spacing:0.000000px;}
.ws9{word-spacing:0.104000px;}
.ws8{word-spacing:24.000000px;}
.ws2{word-spacing:169.568000px;}
.ws1{word-spacing:217.176000px;}
._8{margin-left:-18.720000px;}
._6{margin-left:-9.600000px;}
._5{margin-left:-6.184000px;}
._7{margin-left:-4.496000px;}
._4{margin-left:-3.360000px;}
._2{margin-left:-1.296000px;}
._0{width:1.328000px;}
._1{width:24.000000px;}
._9{width:48.480000px;}
._3{width:95.984000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:87.840000px;}
.y0{bottom:0.000000px;}
.y8{bottom:8.400000px;}
.y7{bottom:29.400000px;}
.y20{bottom:77.664000px;}
.y1f{bottom:98.664000px;}
.y1e{bottom:119.660000px;}
.y1d{bottom:140.660000px;}
.y1c{bottom:164.900000px;}
.y1b{bottom:188.300000px;}
.y1a{bottom:211.700000px;}
.y19{bottom:235.130000px;}
.y18{bottom:258.530000px;}
.y17{bottom:281.930000px;}
.y16{bottom:305.330000px;}
.y15{bottom:328.730000px;}
.y14{bottom:352.130000px;}
.y13{bottom:375.530000px;}
.y12{bottom:398.950000px;}
.y11{bottom:422.350000px;}
.y10{bottom:445.750000px;}
.yf{bottom:469.150000px;}
.ye{bottom:492.550000px;}
.yd{bottom:515.950000px;}
.yc{bottom:539.350000px;}
.yb{bottom:562.750000px;}
.ya{bottom:586.180000px;}
.y9{bottom:606.340000px;}
.y6{bottom:623.620000px;}
.y5{bottom:674.500000px;}
.y4{bottom:694.900000px;}
.y3{bottom:711.100000px;}
.y2{bottom:732.100000px;}
.y1{bottom:753.120000px;}
.h5{height:32.812500px;}
.h3{height:37.312500px;}
.h2{height:39.750000px;}
.h7{height:46.200000px;}
.h4{height:59.625000px;}
.h6{height:68.281875px;}
.h1{height:670.500000px;}
.h0{height:841.920000px;}
.w2{width:417.790000px;}
.w1{width:505.500000px;}
.w0{width:595.320000px;}
.x3{left:5.160000px;}
.x0{left:90.000000px;}
.x6{left:111.020000px;}
.x5{left:114.020000px;}
.x2{left:141.020000px;}
.x1{left:171.140000px;}
.x4{left:287.330000px;}
.x7{left:336.670000px;}
.x9{left:375.790000px;}
.x8{left:378.790000px;}
