.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.703125;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-28.320000px;}
.ls7{letter-spacing:-2.160000px;}
.lsa{letter-spacing:-0.480000px;}
.ls8{letter-spacing:-0.240000px;}
.ls4{letter-spacing:0.000000px;}
.ls0{letter-spacing:0.120000px;}
.ls3{letter-spacing:0.240000px;}
.ls9{letter-spacing:0.480000px;}
.ls1{letter-spacing:0.720000px;}
.ls2{letter-spacing:1.680000px;}
.ls5{letter-spacing:12.000000px;}
.lsf{letter-spacing:13.680000px;}
.lse{letter-spacing:13.920000px;}
.ls6{letter-spacing:16.200000px;}
.ls10{letter-spacing:38.520000px;}
.lsd{letter-spacing:41.880000px;}
.lsc{letter-spacing:41.960000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws7{word-spacing:-56.160000px;}
.wsf{word-spacing:-55.680000px;}
.ws2{word-spacing:-48.000000px;}
.ws4{word-spacing:-47.328160px;}
.ws13{word-spacing:-28.310560px;}
.ws17{word-spacing:-28.139680px;}
.wsd{word-spacing:-28.080000px;}
.ws1a{word-spacing:-27.957920px;}
.wse{word-spacing:-27.840000px;}
.wsb{word-spacing:-27.440960px;}
.ws18{word-spacing:-14.750560px;}
.ws11{word-spacing:-14.630560px;}
.ws6{word-spacing:-14.605120px;}
.ws16{word-spacing:-14.579680px;}
.ws15{word-spacing:-14.280000px;}
.ws1b{word-spacing:-14.134560px;}
.ws19{word-spacing:-14.125120px;}
.ws12{word-spacing:-14.099680px;}
.ws1c{word-spacing:-13.978240px;}
.ws5{word-spacing:-1.816000px;}
.ws8{word-spacing:0.000000px;}
.wsa{word-spacing:0.240000px;}
.ws9{word-spacing:2.160000px;}
.ws1d{word-spacing:13.807680px;}
.ws1e{word-spacing:14.160000px;}
.ws14{word-spacing:27.760800px;}
.wsc{word-spacing:28.600800px;}
.ws3{word-spacing:36.000000px;}
.ws10{word-spacing:42.360000px;}
.ws1{word-spacing:144.080000px;}
.ws0{word-spacing:144.104000px;}
._12{margin-left:-33.739040px;}
._c{margin-left:-31.674240px;}
._b{margin-left:-28.810080px;}
._d{margin-left:-27.400800px;}
._a{margin-left:-21.192480px;}
._f{margin-left:-18.590560px;}
._10{margin-left:-9.705120px;}
._6{margin-left:-6.288000px;}
._13{margin-left:-5.193280px;}
._9{margin-left:-4.168000px;}
._e{margin-left:-3.015200px;}
._8{margin-left:-1.465440px;}
._4{width:1.340640px;}
._11{width:2.365920px;}
._0{width:9.000000px;}
._5{width:11.520000px;}
._14{width:14.040000px;}
._2{width:15.960000px;}
._1{width:22.080000px;}
._7{width:24.000000px;}
._3{width:95.504000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs5{font-size:42.240000px;}
.fs1{font-size:44.160000px;}
.fs4{font-size:46.080000px;}
.fs2{font-size:48.000000px;}
.fs6{font-size:56.160000px;}
.fs3{font-size:63.840000px;}
.y0{bottom:0.000000px;}
.y8{bottom:3.600000px;}
.y7{bottom:19.200000px;}
.y1a{bottom:125.180000px;}
.y19{bottom:156.380000px;}
.y18{bottom:187.580000px;}
.y20{bottom:187.820000px;}
.y17{bottom:218.810000px;}
.y16{bottom:250.010000px;}
.y15{bottom:281.210000px;}
.y14{bottom:312.410000px;}
.y13{bottom:343.610000px;}
.y12{bottom:374.810000px;}
.y11{bottom:406.030000px;}
.y10{bottom:437.230000px;}
.yf{bottom:468.430000px;}
.ye{bottom:499.630000px;}
.yd{bottom:530.830000px;}
.yc{bottom:562.030000px;}
.yb{bottom:593.260000px;}
.ya{bottom:617.980000px;}
.y1f{bottom:624.460000px;}
.y9{bottom:633.100000px;}
.y6{bottom:645.100000px;}
.y1e{bottom:655.660000px;}
.y5{bottom:680.140000px;}
.y1d{bottom:686.860000px;}
.y4{bottom:701.860000px;}
.y1c{bottom:718.060000px;}
.y3{bottom:733.180000px;}
.y1b{bottom:749.260000px;}
.y2{bottom:757.920000px;}
.y1{bottom:790.200000px;}
.h6{height:31.200000px;}
.h2{height:33.264000px;}
.h8{height:33.750000px;}
.h9{height:39.029760px;}
.h7{height:39.750000px;}
.h5{height:42.577920px;}
.h3{height:44.352000px;}
.hb{height:46.507500px;}
.ha{height:51.891840px;}
.h4{height:58.988160px;}
.h0{height:841.920000px;}
.h1{height:842.000000px;}
.w2{width:415.510000px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x3{left:5.400000px;}
.x2{left:84.624000px;}
.x1{left:90.024000px;}
.x4{left:117.980000px;}
.x5{left:300.050000px;}
.x6{left:342.070000px;}
