.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.ff3{font-family:TimesNewRomanPS-BoldMT,monospace;font-weight:bold;font-style:normal;line-height:1.311035;visibility:visible;}
.ff4{font-family:TimesNewRomanPSMT,serif;font-weight:normal;font-style:normal;line-height:1.284668;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsf{letter-spacing:-0.024000px;}
.lsd{letter-spacing:-0.019200px;}
.lse{letter-spacing:-0.014400px;}
.lsc{letter-spacing:-0.009600px;}
.ls9{letter-spacing:-0.008400px;}
.ls8{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.062400px;}
.lsb{letter-spacing:0.153600px;}
.ls3{letter-spacing:0.158400px;}
.ls1{letter-spacing:0.192000px;}
.ls2{letter-spacing:0.201600px;}
.ls0{letter-spacing:0.237816px;}
.ls5{letter-spacing:0.571200px;}
.ls4{letter-spacing:12.000000px;}
.ls7{letter-spacing:12.720000px;}
.ls6{letter-spacing:13.680000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:-24.192000px;}
.ws2{word-spacing:-24.158400px;}
.wsa{word-spacing:-24.000000px;}
.wsc{word-spacing:-23.990400px;}
.ws12{word-spacing:-23.976000px;}
.ws1{word-spacing:-12.201600px;}
.ws3{word-spacing:-12.000000px;}
.ws11{word-spacing:-11.952000px;}
.ws10{word-spacing:-11.937600px;}
.wsd{word-spacing:-11.280000px;}
.ws8{word-spacing:-10.320000px;}
.ws6{word-spacing:-0.667200px;}
.ws9{word-spacing:0.000000px;}
.ws5{word-spacing:11.760000px;}
.ws4{word-spacing:12.000000px;}
.wsf{word-spacing:12.480000px;}
.wse{word-spacing:12.720000px;}
.wsb{word-spacing:13.680000px;}
.ws7{word-spacing:24.480000px;}
._2{margin-left:-23.908800px;}
._3{margin-left:-22.080000px;}
._5{margin-left:-11.184000px;}
._4{margin-left:-10.080000px;}
._0{margin-left:-4.272000px;}
._1{width:10.500000px;}
._6{width:12.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.080000px;}
.fs0{font-size:42.000000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:88.080000px;}
.y19{bottom:82.220400px;}
.y18{bottom:110.240400px;}
.y17{bottom:138.200400px;}
.y16{bottom:166.220400px;}
.y15{bottom:194.240400px;}
.y14{bottom:222.200400px;}
.y13{bottom:250.220400px;}
.y12{bottom:278.240400px;}
.y11{bottom:306.200400px;}
.y10{bottom:334.220400px;}
.yf{bottom:362.240400px;}
.ye{bottom:390.200400px;}
.yd{bottom:418.220400px;}
.yc{bottom:446.240400px;}
.yb{bottom:474.200400px;}
.ya{bottom:502.220400px;}
.y9{bottom:530.240400px;}
.y8{bottom:556.700300px;}
.y7{bottom:574.400300px;}
.y6{bottom:605.420300px;}
.y5{bottom:635.240300px;}
.y4{bottom:660.201200px;}
.y3{bottom:685.220300px;}
.y2{bottom:708.800300px;}
.y1{bottom:731.180000px;}
.y0{bottom:754.580300px;}
.h3{height:33.191250px;}
.h1{height:34.781250px;}
.h4{height:39.750000px;}
.h6{height:41.220703px;}
.h7{height:47.109375px;}
.h5{height:48.375000px;}
.h2{height:71.909063px;}
.h0{height:842.000000px;}
.w0{width:595.220000px;}
.x0{left:90.000000px;}
.x5{left:111.000000px;}
.x6{left:120.840000px;}
.x1{left:121.860200px;}
.x3{left:187.260000px;}
.x4{left:231.421100px;}
.x2{left:297.659500px;}
.x8{left:385.320000px;}
.x9{left:397.320000px;}
.x7{left:505.320000px;}
