.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
.ff3{font-family:Times New Roman,Bold,sans-serif;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls13{letter-spacing:-2.040000px;}
.ls23{letter-spacing:-1.800000px;}
.ls10{letter-spacing:0.000000px;}
.ls17{letter-spacing:0.054240px;}
.ls18{letter-spacing:0.096000px;}
.ls6{letter-spacing:0.120000px;}
.ls2{letter-spacing:0.192000px;}
.ls1{letter-spacing:0.240000px;}
.ls14{letter-spacing:0.360000px;}
.ls5{letter-spacing:0.447360px;}
.ls24{letter-spacing:0.480000px;}
.ls22{letter-spacing:1.440000px;}
.ls16{letter-spacing:1.680000px;}
.ls0{letter-spacing:8.880000px;}
.ls11{letter-spacing:12.000000px;}
.ls12{letter-spacing:12.240000px;}
.lsd{letter-spacing:13.920000px;}
.ls1c{letter-spacing:14.000000px;}
.lsc{letter-spacing:14.040000px;}
.lse{letter-spacing:14.160000px;}
.ls21{letter-spacing:14.220000px;}
.lsf{letter-spacing:14.240000px;}
.ls1d{letter-spacing:14.280000px;}
.ls8{letter-spacing:14.760000px;}
.ls9{letter-spacing:14.880000px;}
.ls7{letter-spacing:14.960000px;}
.lsa{letter-spacing:15.000000px;}
.lsb{letter-spacing:15.120000px;}
.ls1e{letter-spacing:15.240000px;}
.ls1f{letter-spacing:15.320000px;}
.ls20{letter-spacing:15.360000px;}
.ls1b{letter-spacing:18.920000px;}
.ls19{letter-spacing:18.960000px;}
.ls1a{letter-spacing:19.080000px;}
.ls15{letter-spacing:19.200000px;}
.ls4{letter-spacing:24.000000px;}
.ls3{letter-spacing:24.120000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws24{word-spacing:-57.360000px;}
.wsb{word-spacing:-56.367360px;}
.ws1c{word-spacing:-56.160000px;}
.ws8{word-spacing:-55.920000px;}
.ws4{word-spacing:-54.160000px;}
.ws5{word-spacing:-54.080000px;}
.ws0{word-spacing:-48.240000px;}
.ws6{word-spacing:-48.192000px;}
.ws30{word-spacing:-48.000000px;}
.ws39{word-spacing:-42.014640px;}
.ws26{word-spacing:-42.000000px;}
.ws44{word-spacing:-41.940000px;}
.ws27{word-spacing:-41.869120px;}
.ws12{word-spacing:-41.855520px;}
.ws19{word-spacing:-41.795520px;}
.ws1e{word-spacing:-41.700000px;}
.ws16{word-spacing:-41.687760px;}
.ws1a{word-spacing:-41.683680px;}
.ws36{word-spacing:-41.627760px;}
.ws29{word-spacing:-41.620000px;}
.ws3c{word-spacing:-41.566960px;}
.ws3f{word-spacing:-41.555520px;}
.ws43{word-spacing:-41.547760px;}
.ws1b{word-spacing:-41.331040px;}
.ws41{word-spacing:-41.258800px;}
.ws2f{word-spacing:-41.178800px;}
.ws40{word-spacing:-41.106560px;}
.wsc{word-spacing:-40.727760px;}
.ws31{word-spacing:-36.000000px;}
.ws32{word-spacing:-35.920000px;}
.ws7{word-spacing:-33.796000px;}
.ws9{word-spacing:-32.320000px;}
.ws2a{word-spacing:-31.398800px;}
.ws22{word-spacing:-29.680000px;}
.ws2b{word-spacing:-0.360000px;}
.ws3d{word-spacing:-0.120000px;}
.ws1d{word-spacing:0.000000px;}
.ws3{word-spacing:11.760000px;}
.ws33{word-spacing:12.000000px;}
.ws34{word-spacing:12.080000px;}
.ws35{word-spacing:12.096000px;}
.wse{word-spacing:13.320000px;}
.ws15{word-spacing:13.400000px;}
.ws10{word-spacing:13.800000px;}
.ws13{word-spacing:13.880000px;}
.ws2e{word-spacing:14.040000px;}
.ws28{word-spacing:14.108160px;}
.ws17{word-spacing:14.120000px;}
.ws11{word-spacing:14.168160px;}
.ws38{word-spacing:14.248160px;}
.ws25{word-spacing:14.252640px;}
.ws18{word-spacing:14.296320px;}
.wsd{word-spacing:14.760000px;}
.ws3a{word-spacing:15.000000px;}
.wsf{word-spacing:18.120000px;}
.ws14{word-spacing:18.360000px;}
.ws37{word-spacing:18.600000px;}
.ws1f{word-spacing:19.160000px;}
.ws21{word-spacing:19.320000px;}
.ws3b{word-spacing:19.560000px;}
.ws20{word-spacing:23.400000px;}
.ws2c{word-spacing:24.120000px;}
.ws2d{word-spacing:27.960000px;}
.ws3e{word-spacing:28.200000px;}
.wsa{word-spacing:28.440000px;}
.ws23{word-spacing:29.848560px;}
.ws2{word-spacing:144.752000px;}
.ws1{word-spacing:216.720000px;}
.ws42{word-spacing:238.292240px;}
._10{margin-left:-36.403920px;}
._f{margin-left:-32.945760px;}
._9{margin-left:-31.474800px;}
._6{margin-left:-28.071840px;}
._b{margin-left:-16.776000px;}
._a{margin-left:-15.283280px;}
._e{margin-left:-12.160000px;}
._d{margin-left:-10.080000px;}
._c{margin-left:-8.667600px;}
._2{margin-left:-7.552000px;}
._8{margin-left:-5.280000px;}
._7{margin-left:-3.248160px;}
._5{margin-left:-1.278000px;}
._4{width:1.040000px;}
._0{width:9.000000px;}
._3{width:13.980000px;}
._1{width:18.000000px;}
._13{width:27.840000px;}
._11{width:126.043680px;}
._12{width:699.680000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs1{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:55.920000px;}
.fs3{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:2.280000px;}
.y2b{bottom:7.380000px;}
.y30{bottom:7.440000px;}
.y28{bottom:7.620000px;}
.y2d{bottom:19.140000px;}
.y29{bottom:19.320000px;}
.y32{bottom:30.780000px;}
.y2e{bottom:30.800000px;}
.y27{bottom:31.020000px;}
.y3{bottom:51.720000px;}
.y4{bottom:58.260000px;}
.y2{bottom:62.100000px;}
.y1c{bottom:93.060000px;}
.y3a{bottom:97.380000px;}
.y1b{bottom:124.260000px;}
.y39{bottom:128.580000px;}
.y1a{bottom:155.480000px;}
.y38{bottom:159.800000px;}
.y19{bottom:186.680000px;}
.y37{bottom:191.000000px;}
.y18{bottom:217.880000px;}
.y36{bottom:222.200000px;}
.y17{bottom:249.080000px;}
.y35{bottom:253.400000px;}
.y16{bottom:280.280000px;}
.y34{bottom:284.600000px;}
.y33{bottom:305.660000px;}
.y15{bottom:311.480000px;}
.y31{bottom:329.600000px;}
.y14{bottom:342.680000px;}
.y3f{bottom:350.480000px;}
.y13{bottom:373.880000px;}
.y2f{bottom:376.880000px;}
.y3e{bottom:381.680000px;}
.y2c{bottom:400.760000px;}
.y12{bottom:405.080000px;}
.y3d{bottom:412.880000px;}
.y11{bottom:436.300000px;}
.y3c{bottom:444.100000px;}
.y26{bottom:448.120000px;}
.y10{bottom:467.500000px;}
.y2a{bottom:472.000000px;}
.y3b{bottom:475.300000px;}
.yf{bottom:498.700000px;}
.y25{bottom:506.500000px;}
.ye{bottom:529.900000px;}
.y24{bottom:537.700000px;}
.yd{bottom:561.100000px;}
.y23{bottom:568.900000px;}
.yc{bottom:589.060000px;}
.y22{bottom:600.100000px;}
.yb{bottom:612.460000px;}
.y21{bottom:631.300000px;}
.ya{bottom:637.660000px;}
.y20{bottom:662.500000px;}
.y9{bottom:668.800000px;}
.y1f{bottom:693.700000px;}
.y8{bottom:700.000000px;}
.y1e{bottom:724.920000px;}
.y7{bottom:731.280000px;}
.y1d{bottom:756.120000px;}
.y6{bottom:760.680000px;}
.y1{bottom:791.220000px;}
.h3{height:12.000000px;}
.hd{height:23.400000px;}
.h2{height:33.264000px;}
.h4{height:38.808000px;}
.h1{height:39.000000px;}
.h7{height:39.562500px;}
.hc{height:44.352000px;}
.h5{height:46.080000px;}
.h9{height:46.090313px;}
.hf{height:46.800000px;}
.he{height:46.820000px;}
.hb{height:47.280000px;}
.h8{height:51.670080px;}
.h10{height:53.683200px;}
.h6{height:69.120000px;}
.ha{height:496.000000px;}
.h0{height:841.920000px;}
.w2{width:5.220000px;}
.w4{width:26.460000px;}
.wb{width:59.280000px;}
.w9{width:64.020000px;}
.w1{width:68.000000px;}
.wa{width:85.760000px;}
.w5{width:91.320000px;}
.w8{width:96.560000px;}
.wc{width:118.260000px;}
.w7{width:145.580000px;}
.w6{width:161.060000px;}
.w3{width:511.000000px;}
.w0{width:595.320000px;}
.x4{left:0.000000px;}
.x14{left:5.160000px;}
.xc{left:7.200000px;}
.x16{left:10.200000px;}
.x18{left:11.580000px;}
.x19{left:17.100000px;}
.xe{left:19.980000px;}
.x17{left:22.380000px;}
.x1a{left:27.660000px;}
.x1c{left:31.380000px;}
.x1b{left:32.580000px;}
.x12{left:42.800000px;}
.x1d{left:47.160000px;}
.x10{left:50.480000px;}
.xb{left:84.500000px;}
.x2{left:89.900000px;}
.x5{left:91.040000px;}
.xd{left:111.680000px;}
.x8{left:113.480000px;}
.x9{left:116.900000px;}
.xa{left:117.920000px;}
.x7{left:144.200000px;}
.xf{left:203.540000px;}
.x6{left:207.380000px;}
.x1e{left:290.860000px;}
.x3{left:295.060000px;}
.x1{left:297.700000px;}
.x13{left:300.580000px;}
.x11{left:365.080000px;}
.x15{left:451.380000px;}
.x0{left:527.500000px;}
