.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:TimesNewRomanPSMT,monospace;font-weight:normal;font-style:normal;line-height:1.284668;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.925781;font-style:normal;font-weight:normal;visibility:visible;}
.ff3{font-family:TimesNewRomanPS-BoldMT,monospace;font-weight:bold;font-style:normal;line-height:1.311035;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.945312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.v1{vertical-align:31.201800px;}
.lsd{letter-spacing:-0.028800px;}
.lsb{letter-spacing:-0.009600px;}
.lsa{letter-spacing:0.000000px;}
.lsf{letter-spacing:0.029400px;}
.ls7{letter-spacing:0.050400px;}
.lse{letter-spacing:0.071400px;}
.ls8{letter-spacing:0.121800px;}
.ls4{letter-spacing:0.163200px;}
.ls1{letter-spacing:0.179424px;}
.ls3{letter-spacing:0.187200px;}
.lsc{letter-spacing:0.201600px;}
.ls2{letter-spacing:0.206400px;}
.ls0{letter-spacing:0.240000px;}
.ls5{letter-spacing:0.552000px;}
.ls6{letter-spacing:0.590400px;}
.ls9{letter-spacing:12.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws8{word-spacing:-36.000000px;}
.ws5{word-spacing:-24.590400px;}
.ws4{word-spacing:-24.552000px;}
.ws0{word-spacing:-24.206400px;}
.ws1{word-spacing:-24.187200px;}
.ws2{word-spacing:-24.163200px;}
.ws3{word-spacing:-24.000000px;}
.ws6{word-spacing:-23.971200px;}
.ws9{word-spacing:-12.000000px;}
.ws7{word-spacing:-10.701600px;}
.wsa{word-spacing:0.000000px;}
._4{margin-left:-24.009600px;}
._11{margin-left:-12.000000px;}
._3{margin-left:-4.987200px;}
._5{margin-left:-1.920000px;}
._6{width:1.526400px;}
._0{width:10.500000px;}
._1{width:12.009600px;}
._2{width:18.000000px;}
._9{width:74.041800px;}
._8{width:98.519400px;}
._f{width:101.026800px;}
._e{width:106.146600px;}
._c{width:138.713400px;}
._a{width:153.598200px;}
._b{width:180.310200px;}
._10{width:189.101400px;}
._d{width:230.470800px;}
._7{width:232.680000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:42.000000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:64.080000px;}
.fs2{font-size:72.000000px;}
.y1c{bottom:178.520300px;}
.y1b{bottom:201.920300px;}
.y1a{bottom:225.320300px;}
.y19{bottom:248.720300px;}
.y18{bottom:272.120300px;}
.y17{bottom:303.320300px;}
.y16{bottom:326.720300px;}
.y0{bottom:350.500000px;}
.y15{bottom:355.160450px;}
.y14{bottom:370.760300px;}
.y13{bottom:393.260300px;}
.y12{bottom:415.701500px;}
.yf{bottom:423.500900px;}
.ye{bottom:431.300300px;}
.y11{bottom:431.301350px;}
.y10{bottom:446.901200px;}
.yd{bottom:481.880300px;}
.yc{bottom:505.280300px;}
.yb{bottom:528.680300px;}
.ya{bottom:552.080300px;}
.y9{bottom:572.180300px;}
.y8{bottom:595.400300px;}
.y7{bottom:621.380300px;}
.y6{bottom:648.920300px;}
.y5{bottom:674.419940px;}
.y4{bottom:700.340300px;}
.y3{bottom:725.600300px;}
.y2{bottom:745.880300px;}
.y1{bottom:760.280300px;}
.h8{height:34.781250px;}
.h6{height:39.750000px;}
.h2{height:41.220703px;}
.h3{height:47.109375px;}
.h5{height:52.315312px;}
.h7{height:65.983050px;}
.h4{height:72.562500px;}
.h1{height:293.000000px;}
.h0{height:842.000000px;}
.w1{width:453.000000px;}
.w0{width:595.220000px;}
.x0{left:75.000000px;}
.x2{left:82.140000px;}
.xe{left:95.820000px;}
.xd{left:98.400000px;}
.x7{left:100.080000px;}
.x8{left:106.140000px;}
.x6{left:125.580000px;}
.x9{left:136.500000px;}
.x4{left:185.160726px;}
.x3{left:201.240000px;}
.x10{left:250.140000px;}
.xf{left:286.140000px;}
.x1{left:297.600000px;}
.x5{left:302.100000px;}
.xa{left:358.560300px;}
.xb{left:447.779850px;}
.xc{left:452.999400px;}
