.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
