.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.890625;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:Times New Roman,Bold,sans-serif;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.973145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.766602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v1{vertical-align:-2.640000px;}
.v0{vertical-align:0.000000px;}
.ls15{letter-spacing:-0.096000px;}
.ls18{letter-spacing:-0.090000px;}
.ls13{letter-spacing:0.000000px;}
.ls11{letter-spacing:0.066000px;}
.ls1b{letter-spacing:0.096000px;}
.ls10{letter-spacing:0.108000px;}
.lsb{letter-spacing:0.192000px;}
.ls16{letter-spacing:0.240000px;}
.ls8{letter-spacing:2.480000px;}
.ls3{letter-spacing:2.640000px;}
.ls9{letter-spacing:2.720000px;}
.ls7{letter-spacing:2.760000px;}
.ls2{letter-spacing:2.880000px;}
.ls4{letter-spacing:2.960000px;}
.ls1{letter-spacing:9.000000px;}
.ls12{letter-spacing:9.492000px;}
.ls17{letter-spacing:11.400000px;}
.ls19{letter-spacing:11.640000px;}
.lse{letter-spacing:12.000000px;}
.lsd{letter-spacing:12.144000px;}
.lsc{letter-spacing:12.240000px;}
.lsf{letter-spacing:12.320000px;}
.ls1f{letter-spacing:13.160000px;}
.ls0{letter-spacing:18.000000px;}
.ls5{letter-spacing:18.740000px;}
.lsa{letter-spacing:18.900000px;}
.ls6{letter-spacing:18.960000px;}
.ls14{letter-spacing:21.000000px;}
.ls1c{letter-spacing:24.080000px;}
.ls1a{letter-spacing:34.848000px;}
.ls1d{letter-spacing:48.016000px;}
.ls1e{letter-spacing:466.832000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(192,192,192),0 0.015em rgb(192,192,192),0.015em 0 rgb(192,192,192),0 -0.015em  rgb(192,192,192);}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(192,192,192);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-48.192000px;}
.wsa{word-spacing:-48.000000px;}
.ws1{word-spacing:-42.000000px;}
.ws13{word-spacing:-37.152000px;}
.ws23{word-spacing:-37.072000px;}
.wse{word-spacing:-36.480000px;}
.ws10{word-spacing:-35.872000px;}
.ws7{word-spacing:-35.712000px;}
.ws15{word-spacing:-32.508000px;}
.ws16{word-spacing:-32.428000px;}
.ws21{word-spacing:-32.098000px;}
.wsb{word-spacing:-24.000000px;}
.ws4{word-spacing:-20.868000px;}
.ws2b{word-spacing:-13.632000px;}
.ws12{word-spacing:-13.104000px;}
.ws2a{word-spacing:-13.072000px;}
.ws18{word-spacing:-11.548000px;}
.ws22{word-spacing:-11.298000px;}
.ws14{word-spacing:-10.848000px;}
.ws11{word-spacing:-10.752000px;}
.ws19{word-spacing:-9.558000px;}
.ws20{word-spacing:-9.492000px;}
.ws1a{word-spacing:-0.306000px;}
.ws27{word-spacing:-0.222000px;}
.ws1d{word-spacing:-0.174000px;}
.ws17{word-spacing:-0.136000px;}
.ws29{word-spacing:0.000000px;}
.wsf{word-spacing:1.056000px;}
.ws9{word-spacing:1.248000px;}
.ws5{word-spacing:10.380000px;}
.ws8{word-spacing:13.056000px;}
.wsd{word-spacing:13.200000px;}
.wsc{word-spacing:13.248000px;}
.ws0{word-spacing:18.000000px;}
.ws1f{word-spacing:20.808000px;}
.ws1e{word-spacing:20.814000px;}
.ws28{word-spacing:20.840000px;}
.ws1b{word-spacing:20.982000px;}
.ws26{word-spacing:21.042000px;}
.ws1c{word-spacing:21.072000px;}
.ws24{word-spacing:30.492000px;}
.ws25{word-spacing:30.572000px;}
.ws3{word-spacing:210.080000px;}
.ws2{word-spacing:314.960000px;}
._2{margin-left:-19.248000px;}
._6{margin-left:-11.868000px;}
._3{margin-left:-10.592000px;}
._5{margin-left:-6.240000px;}
._0{width:9.000000px;}
._4{width:10.500000px;}
._e{width:12.000000px;}
._1{width:16.020000px;}
._7{width:21.120000px;}
._c{width:42.240000px;}
._b{width:51.492000px;}
._9{width:105.200000px;}
._8{width:126.240000px;}
._a{width:147.200000px;}
._d{width:984.080000px;}
.fc1{color:rgb(192,192,192);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs1{font-size:42.000000px;}
.fs3{font-size:48.000000px;}
.fs2{font-size:64.080000px;}
.y0{bottom:0.000000px;}
.y28{bottom:5.700000px;}
.y26{bottom:5.880000px;}
.y17{bottom:6.840000px;}
.y2b{bottom:9.660000px;}
.y20{bottom:10.140000px;}
.y1d{bottom:10.260000px;}
.y1f{bottom:10.320000px;}
.y2a{bottom:10.920000px;}
.y15{bottom:14.640000px;}
.y27{bottom:21.300000px;}
.y16{bottom:22.440000px;}
.y24{bottom:23.340000px;}
.y1b{bottom:38.400000px;}
.y2{bottom:52.200000px;}
.y19{bottom:52.500000px;}
.y2c{bottom:88.740000px;}
.y29{bottom:113.040000px;}
.y23{bottom:142.820000px;}
.y25{bottom:177.800000px;}
.y22{bottom:204.860000px;}
.y21{bottom:229.160000px;}
.y18{bottom:257.420000px;}
.y1a{bottom:285.680000px;}
.y1e{bottom:313.880000px;}
.y1c{bottom:342.140000px;}
.y14{bottom:370.400000px;}
.y3b{bottom:409.880000px;}
.y13{bottom:415.040000px;}
.y3a{bottom:428.320000px;}
.y12{bottom:446.260000px;}
.y39{bottom:455.620000px;}
.y11{bottom:477.460000px;}
.y38{bottom:478.960000px;}
.y37{bottom:494.260000px;}
.y10{bottom:500.860000px;}
.y36{bottom:508.900000px;}
.yf{bottom:524.260000px;}
.y35{bottom:527.680000px;}
.ye{bottom:547.660000px;}
.y34{bottom:558.880000px;}
.yd{bottom:578.560000px;}
.y33{bottom:590.080000px;}
.yc{bottom:603.040000px;}
.y32{bottom:621.280000px;}
.yb{bottom:624.820000px;}
.y31{bottom:644.680000px;}
.y9{bottom:647.080000px;}
.ya{bottom:647.740000px;}
.y7{bottom:674.980000px;}
.y8{bottom:675.640000px;}
.y30{bottom:675.880000px;}
.y2f{bottom:699.280000px;}
.y5{bottom:704.040000px;}
.y6{bottom:704.700000px;}
.y2e{bottom:730.500000px;}
.y4{bottom:731.640000px;}
.y2d{bottom:753.900000px;}
.y3{bottom:754.500000px;}
.y1{bottom:789.540000px;}
.h11{height:19.140000px;}
.hf{height:27.720000px;}
.hd{height:27.780000px;}
.h13{height:29.240000px;}
.h2{height:33.264000px;}
.he{height:33.796875px;}
.h12{height:34.500000px;}
.ha{height:34.781250px;}
.h9{height:36.780000px;}
.h15{height:38.625000px;}
.h8{height:39.750000px;}
.h3{height:40.320000px;}
.h14{height:42.500000px;}
.h16{height:44.352000px;}
.h7{height:46.080000px;}
.h5{height:52.815937px;}
.h10{height:54.120000px;}
.h6{height:58.876800px;}
.h4{height:61.516800px;}
.hc{height:84.240000px;}
.hb{height:112.500000px;}
.h1{height:407.500000px;}
.h0{height:841.920000px;}
.w7{width:54.300000px;}
.w2{width:58.740000px;}
.w3{width:58.980000px;}
.wb{width:63.260000px;}
.w4{width:72.560000px;}
.wc{width:73.800000px;}
.wd{width:76.680000px;}
.w6{width:81.800000px;}
.w8{width:92.820000px;}
.we{width:93.060000px;}
.w5{width:93.300000px;}
.w9{width:137.360000px;}
.wa{width:140.180000px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x2d{left:5.400000px;}
.x41{left:6.960000px;}
.x28{left:8.340000px;}
.x3d{left:10.740000px;}
.x32{left:11.880000px;}
.x33{left:13.680000px;}
.x2b{left:15.360000px;}
.x2f{left:17.400000px;}
.x34{left:18.840000px;}
.x30{left:20.040000px;}
.x3c{left:21.260000px;}
.x3f{left:22.740000px;}
.x42{left:24.180000px;}
.x39{left:25.380000px;}
.x36{left:26.880000px;}
.x35{left:29.580000px;}
.x3a{left:32.060000px;}
.x3b{left:33.480000px;}
.x37{left:34.620000px;}
.x27{left:84.860000px;}
.x25{left:90.020000px;}
.x3{left:99.080000px;}
.x24{left:111.020000px;}
.x26{left:114.020000px;}
.x38{left:139.640000px;}
.x29{left:143.840000px;}
.x12{left:163.880000px;}
.x13{left:179.300000px;}
.x4{left:185.900000px;}
.x14{left:195.380000px;}
.x5{left:201.320000px;}
.x2a{left:203.060000px;}
.x15{left:211.400000px;}
.x6{left:217.400000px;}
.x16{left:231.500000px;}
.x7{left:233.420000px;}
.x17{left:239.540000px;}
.x8{left:249.520000px;}
.x18{left:255.520000px;}
.x2{left:263.920000px;}
.x9{left:265.600000px;}
.x19{left:271.540000px;}
.x2c{left:275.920000px;}
.xa{left:281.620000px;}
.x1a{left:287.620000px;}
.x3e{left:296.260000px;}
.x1{left:297.700000px;}
.x1b{left:303.700000px;}
.x46{left:310.900000px;}
.xb{left:313.780000px;}
.x1c{left:319.720000px;}
.xc{left:329.800000px;}
.x1d{left:335.800000px;}
.x44{left:337.360000px;}
.xd{left:345.880000px;}
.x1e{left:351.880000px;}
.xe{left:361.960000px;}
.x1f{left:367.900000px;}
.x2e{left:369.460000px;}
.xf{left:377.980000px;}
.x20{left:383.980000px;}
.x10{left:394.060000px;}
.x45{left:399.040000px;}
.x21{left:400.060000px;}
.x11{left:410.100000px;}
.x22{left:416.100000px;}
.x23{left:432.180000px;}
.x40{left:433.800000px;}
.x31{left:451.500000px;}
.x43{left:499.380000px;}
