.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.820312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.683594;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192000px;}
.ls0{letter-spacing:0.240000px;}
.ls2{letter-spacing:0.320000px;}
.ls3{letter-spacing:12.000000px;}
.ls5{letter-spacing:24.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws5{word-spacing:-72.240000px;}
.ws7{word-spacing:-48.192000px;}
.ws0{word-spacing:-48.000000px;}
.ws6{word-spacing:-36.240000px;}
.ws4{word-spacing:-36.160000px;}
.ws9{word-spacing:-24.000000px;}
.ws8{word-spacing:-23.920000px;}
.ws3{word-spacing:-0.240000px;}
.wsb{word-spacing:0.000000px;}
.wsa{word-spacing:24.000000px;}
.ws2{word-spacing:192.160000px;}
.ws1{word-spacing:216.000000px;}
._6{margin-left:-18.720000px;}
._0{margin-left:-14.160000px;}
._4{margin-left:-5.520000px;}
._3{margin-left:-3.840000px;}
._5{margin-left:-2.400000px;}
._2{margin-left:-1.152000px;}
._1{width:24.000000px;}
._7{width:696.080000px;}
._8{width:984.080000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs1{font-size:72.000000px;}
.y14{bottom:271.880000px;}
.y13{bottom:295.280000px;}
.y12{bottom:318.680000px;}
.y11{bottom:342.080000px;}
.y10{bottom:365.480000px;}
.yf{bottom:388.880000px;}
.ye{bottom:412.280000px;}
.yd{bottom:435.700000px;}
.yc{bottom:459.100000px;}
.yb{bottom:482.500000px;}
.ya{bottom:505.900000px;}
.y9{bottom:529.300000px;}
.y8{bottom:552.700000px;}
.y7{bottom:576.100000px;}
.y6{bottom:599.500000px;}
.y5{bottom:619.060000px;}
.y4{bottom:634.660000px;}
.y3{bottom:654.100000px;}
.y2{bottom:679.240000px;}
.y1{bottom:710.460000px;}
.y0{bottom:753.840000px;}
.h3{height:33.750000px;}
.h1{height:39.750000px;}
.h2{height:58.781250px;}
.h0{height:841.920000px;}
.w0{width:595.320000px;}
.x0{left:90.020000px;}
.x3{left:114.020000px;}
.x2{left:153.200000px;}
.x1{left:207.380000px;}
.x4{left:372.040000px;}
.x5{left:414.060000px;}
