.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:TimesNewRomanPSMT,serif;font-weight:normal;font-style:normal;line-height:1.284668;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:TimesNewRomanPS-BoldMT,serif;font-weight:bold;font-style:normal;line-height:1.311035;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsa{letter-spacing:-0.076896px;}
.lsd{letter-spacing:-0.014400px;}
.ls9{letter-spacing:0.000000px;}
.ls0{letter-spacing:0.009600px;}
.ls3{letter-spacing:0.014400px;}
.ls4{letter-spacing:0.043200px;}
.ls7{letter-spacing:0.057600px;}
.lsb{letter-spacing:0.121752px;}
.ls1{letter-spacing:0.206400px;}
.ls8{letter-spacing:0.240000px;}
.lsc{letter-spacing:0.960000px;}
.ls2{letter-spacing:12.000000px;}
.ls6{letter-spacing:12.960000px;}
.ls5{letter-spacing:13.200000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wse{word-spacing:-48.000000px;}
.ws5{word-spacing:-47.995920px;}
.ws4{word-spacing:-47.919024px;}
.ws7{word-spacing:-47.803680px;}
.ws12{word-spacing:-36.240000px;}
.ws8{word-spacing:-36.206400px;}
.ws2{word-spacing:-36.000000px;}
.wsc{word-spacing:-35.040000px;}
.ws6{word-spacing:-0.121752px;}
.wsa{word-spacing:-0.043200px;}
.wsd{word-spacing:0.000000px;}
.wsf{word-spacing:11.760000px;}
.ws3{word-spacing:12.000000px;}
.ws9{word-spacing:12.465600px;}
.wsb{word-spacing:13.200000px;}
.ws11{word-spacing:14.040000px;}
.ws10{word-spacing:17.280000px;}
.ws1{word-spacing:89.280000px;}
.ws0{word-spacing:161.040000px;}
._1{margin-left:-3.744000px;}
._0{margin-left:-1.680000px;}
._2{width:12.336000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs1{font-size:64.080000px;}
.y13{bottom:205.580300px;}
.y12{bottom:234.980300px;}
.y11{bottom:264.380300px;}
.y10{bottom:293.840300px;}
.yf{bottom:323.240300px;}
.ye{bottom:352.640300px;}
.yd{bottom:381.980300px;}
.yc{bottom:411.440300px;}
.yb{bottom:440.780300px;}
.ya{bottom:464.180300px;}
.y9{bottom:487.580300px;}
.y8{bottom:516.980300px;}
.y7{bottom:540.380300px;}
.y6{bottom:569.780300px;}
.y5{bottom:593.180300px;}
.y4{bottom:622.580300px;}
.y3{bottom:645.980300px;}
.y2{bottom:678.081860px;}
.y1{bottom:715.280300px;}
.y0{bottom:751.940300px;}
.h4{height:39.750000px;}
.h1{height:47.109375px;}
.h5{height:48.375000px;}
.h2{height:62.891016px;}
.h3{height:64.580625px;}
.h0{height:842.000000px;}
.w0{width:595.220000px;}
.x4{left:89.880000px;}
.x2{left:98.640360px;}
.x0{left:112.200000px;}
.x3{left:114.000000px;}
.x1{left:216.900000px;}
.x5{left:321.720000px;}
.x7{left:327.720000px;}
.x6{left:363.960000px;}
