.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.929688;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.984375;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.707031;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.820312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
.ff7{font-family:Times New Roman,monospace;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.120000px;}
.ls0{letter-spacing:0.210000px;}
.ls3{letter-spacing:0.240000px;}
.ls4{letter-spacing:12.000000px;}
.ls2{letter-spacing:21.240000px;}
.ls5{letter-spacing:24.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws9{word-spacing:-48.000000px;}
.ws6{word-spacing:-42.210000px;}
.ws1{word-spacing:-42.000000px;}
.wsc{word-spacing:-36.000000px;}
.ws5{word-spacing:-30.240000px;}
.ws4{word-spacing:-30.160000px;}
.ws8{word-spacing:-24.000000px;}
.wsb{word-spacing:-23.920000px;}
.ws3{word-spacing:-21.120000px;}
.ws7{word-spacing:-20.890000px;}
.wsd{word-spacing:-12.000000px;}
.wsa{word-spacing:0.000000px;}
.ws2{word-spacing:169.170000px;}
.ws0{word-spacing:274.160000px;}
._a{margin-left:-30.240000px;}
._9{margin-left:-23.920000px;}
._7{margin-left:-22.320000px;}
._6{margin-left:-18.640000px;}
._8{margin-left:-9.360000px;}
._5{margin-left:-6.240000px;}
._4{margin-left:-4.800000px;}
._0{margin-left:-2.100000px;}
._2{margin-left:-1.050000px;}
._1{width:1.320000px;}
._d{width:10.500000px;}
._b{width:12.000000px;}
._3{width:21.000000px;}
._c{width:24.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:60.000000px;}
.y1c{bottom:157.760000px;}
.y1b{bottom:172.820000px;}
.y1a{bottom:192.260000px;}
.y19{bottom:215.660000px;}
.y18{bottom:235.220000px;}
.y17{bottom:250.820000px;}
.y16{bottom:266.420000px;}
.y15{bottom:285.920000px;}
.y14{bottom:309.260000px;}
.y13{bottom:332.660000px;}
.y12{bottom:356.060000px;}
.y11{bottom:379.460000px;}
.y10{bottom:402.860000px;}
.y0{bottom:423.000000px;}
.yf{bottom:426.280000px;}
.ye{bottom:449.680000px;}
.yd{bottom:473.080000px;}
.yc{bottom:496.480000px;}
.yb{bottom:519.880000px;}
.ya{bottom:543.280000px;}
.y9{bottom:566.680000px;}
.y8{bottom:590.080000px;}
.y7{bottom:613.480000px;}
.y6{bottom:633.580000px;}
.y5{bottom:653.080000px;}
.y4{bottom:676.480000px;}
.y3{bottom:702.120000px;}
.y2{bottom:733.320000px;}
.y1{bottom:758.400000px;}
.h1{height:15.500000px;}
.h5{height:29.531250px;}
.h8{height:33.750000px;}
.h2{height:34.617188px;}
.h4{height:35.765625px;}
.h9{height:38.808000px;}
.h6{height:39.750000px;}
.h7{height:44.352000px;}
.h3{height:49.453125px;}
.h0{height:841.920000px;}
.w1{width:150.000000px;}
.w0{width:595.320000px;}
.x1{left:90.020000px;}
.x4{left:111.140000px;}
.x7{left:114.020000px;}
.x6{left:118.040000px;}
.x5{left:120.020000px;}
.x3{left:132.020000px;}
.x0{left:138.000000px;}
.x2{left:199.760000px;}
.x8{left:343.360000px;}
.x9{left:412.380000px;}
.xa{left:505.380000px;}
