.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.680176;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.839355;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.ff5{font-family:Times New Roman,monospace;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
.ff6{font-family:Times New Roman,Bold,monospace;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.707031;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-ms-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-webkit-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls10{letter-spacing:-0.240000px;}
.lsf{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.167760px;}
.ls7{letter-spacing:0.192000px;}
.ls0{letter-spacing:0.240000px;}
.lsb{letter-spacing:5.712000px;}
.lsc{letter-spacing:5.760000px;}
.ls3{letter-spacing:12.000000px;}
.ls1{letter-spacing:12.240000px;}
.lse{letter-spacing:13.160000px;}
.ls5{letter-spacing:15.360000px;}
.ls6{letter-spacing:15.600000px;}
.lsa{letter-spacing:24.000000px;}
.lsd{letter-spacing:24.080000px;}
.ls8{letter-spacing:24.240000px;}
.ls9{letter-spacing:24.320000px;}
.ls2{letter-spacing:120.800000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws19{word-spacing:-53.712000px;}
.ws2{word-spacing:-48.240000px;}
.ws4{word-spacing:-48.000000px;}
.ws1c{word-spacing:-42.320000px;}
.ws8{word-spacing:-41.384560px;}
.ws9{word-spacing:-41.022560px;}
.ws0{word-spacing:-37.946952px;}
.ws14{word-spacing:-36.000000px;}
.ws13{word-spacing:-35.920000px;}
.wsc{word-spacing:-35.840000px;}
.ws6{word-spacing:-35.392000px;}
.ws1a{word-spacing:-33.280000px;}
.ws17{word-spacing:-29.760000px;}
.ws16{word-spacing:-29.472000px;}
.ws3{word-spacing:-24.240000px;}
.wsd{word-spacing:-24.000000px;}
.wse{word-spacing:-23.952000px;}
.wsa{word-spacing:-23.840000px;}
.ws11{word-spacing:-23.584000px;}
.ws1d{word-spacing:-15.960000px;}
.ws12{word-spacing:-12.000000px;}
.ws15{word-spacing:-11.920000px;}
.ws1b{word-spacing:-9.360000px;}
.wsb{word-spacing:-8.640000px;}
.ws1{word-spacing:-0.012000px;}
.wsf{word-spacing:0.000000px;}
.ws7{word-spacing:0.240000px;}
.ws10{word-spacing:0.720000px;}
.ws18{word-spacing:5.712000px;}
.ws5{word-spacing:48.672000px;}
._e{margin-left:-28.672000px;}
._7{margin-left:-23.808000px;}
._2{margin-left:-17.760000px;}
._4{margin-left:-16.704000px;}
._9{margin-left:-9.360000px;}
._b{margin-left:-5.504000px;}
._d{margin-left:-3.616000px;}
._8{margin-left:-1.680000px;}
._3{width:1.008000px;}
._a{width:5.280000px;}
._1{width:8.136000px;}
._f{width:12.000000px;}
._5{width:13.980000px;}
._6{width:24.000000px;}
._c{width:96.000000px;}
._0{width:1200.208000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:37.946952px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:55.920000px;}
.fs4{font-size:64.080000px;}
.y4{bottom:2.400000px;}
.y3{bottom:49.500000px;}
.y2{bottom:51.960000px;}
.y1f{bottom:97.320000px;}
.y1e{bottom:123.300000px;}
.y1d{bottom:149.360000px;}
.y1c{bottom:175.340000px;}
.y1b{bottom:201.320000px;}
.y1a{bottom:227.360000px;}
.y19{bottom:253.340000px;}
.y18{bottom:279.320000px;}
.y17{bottom:305.360000px;}
.y16{bottom:331.340000px;}
.y15{bottom:357.320000px;}
.y14{bottom:383.360000px;}
.y13{bottom:409.340000px;}
.y12{bottom:435.340000px;}
.y11{bottom:461.380000px;}
.y10{bottom:487.360000px;}
.yf{bottom:513.340000px;}
.ye{bottom:539.380000px;}
.y28{bottom:554.560000px;}
.yd{bottom:565.360000px;}
.y27{bottom:578.560000px;}
.yc{bottom:590.980000px;}
.y26{bottom:602.560000px;}
.yb{bottom:614.980000px;}
.y25{bottom:626.560000px;}
.ya{bottom:638.980000px;}
.y24{bottom:650.560000px;}
.y9{bottom:661.720000px;}
.y23{bottom:674.560000px;}
.y8{bottom:678.580000px;}
.y22{bottom:698.560000px;}
.y7{bottom:702.600000px;}
.y21{bottom:723.000000px;}
.y6{bottom:726.600000px;}
.y20{bottom:748.980000px;}
.y5{bottom:750.600000px;}
.y0{bottom:770.000000px;}
.y1{bottom:773.940000px;}
.h5{height:10.980000px;}
.h4{height:26.560547px;}
.h1{height:29.500000px;}
.h3{height:31.424820px;}
.h2{height:32.203125px;}
.h9{height:38.625000px;}
.h6{height:39.750000px;}
.ha{height:44.352000px;}
.hb{height:45.306562px;}
.h7{height:51.670080px;}
.h8{height:53.683200px;}
.h0{height:841.920000px;}
.w2{width:4.560000px;}
.w1{width:442.500000px;}
.w0{width:595.320000px;}
.x6{left:0.000000px;}
.x0{left:83.500000px;}
.x4{left:85.100000px;}
.xa{left:109.100000px;}
.x1{left:150.200000px;}
.x9{left:185.300000px;}
.x8{left:234.500000px;}
.x5{left:302.500000px;}
.x7{left:304.780000px;}
.xc{left:404.500000px;}
.x2{left:450.240000px;}
.xd{left:488.520000px;}
.x3{left:522.240000px;}
.xb{left:524.520000px;}
