.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.980469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:Times New Roman,Bold,monospace;font-weight:bold;font-style:normal;line-height:1.301000;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.906250;font-style:normal;font-weight:normal;visibility:visible;}
.ff6{font-family:Arial,monospace;font-weight:normal;font-style:normal;line-height:1.237016;visibility:visible;}
.ff7{font-family:Times New Roman,monospace;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-24.000000px;}
.ls3{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.120000px;}
.ls0{letter-spacing:0.446880px;}
.ls6{letter-spacing:10.560000px;}
.ls1{letter-spacing:12.480000px;}
.ls2{letter-spacing:12.960000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws4{word-spacing:-48.176320px;}
.ws2{word-spacing:-48.000000px;}
.ws16{word-spacing:-36.016000px;}
.wsd{word-spacing:-36.000000px;}
.wsb{word-spacing:-35.896000px;}
.ws1d{word-spacing:-35.520000px;}
.wse{word-spacing:-35.056000px;}
.wsa{word-spacing:-35.040000px;}
.ws7{word-spacing:-35.032000px;}
.ws9{word-spacing:-34.960000px;}
.ws1c{word-spacing:-34.920000px;}
.ws17{word-spacing:-31.200000px;}
.ws1a{word-spacing:-31.120000px;}
.ws19{word-spacing:-31.080000px;}
.ws10{word-spacing:-24.000000px;}
.ws15{word-spacing:-23.896000px;}
.ws14{word-spacing:-23.880000px;}
.ws1e{word-spacing:-23.800000px;}
.ws6{word-spacing:-23.608000px;}
.wsc{word-spacing:-12.000000px;}
.ws1b{word-spacing:-11.056000px;}
.ws8{word-spacing:-11.040000px;}
.wsf{word-spacing:-10.920000px;}
.ws18{word-spacing:-7.200000px;}
.ws5{word-spacing:-0.160000px;}
.ws3{word-spacing:0.000000px;}
.ws12{word-spacing:0.104000px;}
.ws11{word-spacing:0.120000px;}
.ws13{word-spacing:12.000000px;}
.ws0{word-spacing:120.120000px;}
.ws1{word-spacing:168.080000px;}
.ws1f{word-spacing:744.200000px;}
._7{margin-left:-25.952000px;}
._5{margin-left:-24.480000px;}
._4{margin-left:-18.720000px;}
._2{margin-left:-6.048000px;}
._3{margin-left:-4.656000px;}
._8{margin-left:-3.240000px;}
._6{margin-left:-1.920000px;}
._1{width:1.296000px;}
._9{width:12.000000px;}
._0{width:24.000000px;}
._a{width:1056.200000px;}
._b{width:1080.192000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:42.240000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:63.840000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:79.824000px;}
.y1d{bottom:83.184000px;}
.y39{bottom:103.220000px;}
.y1c{bottom:106.580000px;}
.y38{bottom:126.500000px;}
.y1b{bottom:130.100000px;}
.y37{bottom:149.900000px;}
.y1a{bottom:153.380000px;}
.y36{bottom:173.180000px;}
.y19{bottom:176.780000px;}
.y35{bottom:196.580000px;}
.y18{bottom:200.180000px;}
.y34{bottom:219.890000px;}
.y17{bottom:223.610000px;}
.y33{bottom:243.290000px;}
.y16{bottom:247.010000px;}
.y32{bottom:266.570000px;}
.y15{bottom:270.410000px;}
.y31{bottom:286.010000px;}
.y14{bottom:293.810000px;}
.y30{bottom:313.370000px;}
.y13{bottom:317.210000px;}
.y2f{bottom:336.770000px;}
.y12{bottom:340.610000px;}
.y2e{bottom:356.210000px;}
.y11{bottom:367.970000px;}
.y2d{bottom:383.450000px;}
.y10{bottom:391.370000px;}
.y2c{bottom:402.910000px;}
.yf{bottom:414.670000px;}
.y2b{bottom:426.310000px;}
.ye{bottom:434.110000px;}
.y2a{bottom:449.710000px;}
.yd{bottom:457.510000px;}
.y29{bottom:473.110000px;}
.yc{bottom:480.910000px;}
.y28{bottom:496.510000px;}
.yb{bottom:504.310000px;}
.y27{bottom:519.910000px;}
.ya{bottom:527.710000px;}
.y26{bottom:543.310000px;}
.y9{bottom:551.110000px;}
.y25{bottom:566.710000px;}
.y8{bottom:574.510000px;}
.y24{bottom:590.140000px;}
.y7{bottom:597.940000px;}
.y23{bottom:613.540000px;}
.y6{bottom:621.340000px;}
.y22{bottom:636.940000px;}
.y5{bottom:644.740000px;}
.y21{bottom:660.340000px;}
.y4{bottom:668.140000px;}
.y20{bottom:683.740000px;}
.y3{bottom:694.060000px;}
.y1f{bottom:707.140000px;}
.y2{bottom:725.260000px;}
.y1e{bottom:730.540000px;}
.y1{bottom:753.960000px;}
.h5{height:34.312500px;}
.h7{height:37.312500px;}
.h6{height:39.750000px;}
.h2{height:40.875000px;}
.h9{height:44.352000px;}
.h8{height:45.744000px;}
.h4{height:52.867500px;}
.h3{height:61.286400px;}
.h1{height:563.500000px;}
.ha{height:766.000000px;}
.h0{height:841.920000px;}
.w2{width:463.500000px;}
.w1{width:505.500000px;}
.w0{width:595.320000px;}
.x0{left:90.000000px;}
.x1{left:96.624000px;}
.x6{left:111.020000px;}
.x4{left:114.140000px;}
.xa{left:120.620000px;}
.x7{left:132.000000px;}
.x5{left:135.020000px;}
.x9{left:147.620000px;}
.x2{left:185.180000px;}
.x3{left:201.890000px;}
.x8{left:337.390000px;}
