.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.984375;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.ff3{font-family:Times New Roman,monospace;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.707031;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-27.840000px;}
.lsd{letter-spacing:-27.360000px;}
.lse{letter-spacing:-0.120000px;}
.lsb{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.120000px;}
.lsa{letter-spacing:0.192000px;}
.ls0{letter-spacing:0.192240px;}
.ls1{letter-spacing:0.240000px;}
.ls2{letter-spacing:0.447360px;}
.ls10{letter-spacing:1.398000px;}
.lsf{letter-spacing:1.440000px;}
.ls8{letter-spacing:13.800000px;}
.ls7{letter-spacing:13.920000px;}
.ls5{letter-spacing:14.040000px;}
.ls3{letter-spacing:14.160000px;}
.ls9{letter-spacing:14.240000px;}
.ls6{letter-spacing:16.440000px;}
.ls11{letter-spacing:27.960000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws7{word-spacing:-64.320000px;}
.ws6{word-spacing:-64.080000px;}
.ws27{word-spacing:-57.360000px;}
.ws26{word-spacing:-57.318000px;}
.ws9{word-spacing:-56.367360px;}
.wsd{word-spacing:-56.160000px;}
.wsc{word-spacing:-55.920000px;}
.ws1f{word-spacing:-48.192000px;}
.ws11{word-spacing:-42.240000px;}
.ws0{word-spacing:-42.000000px;}
.ws18{word-spacing:-41.855520px;}
.ws13{word-spacing:-41.615520px;}
.ws19{word-spacing:-41.607760px;}
.wse{word-spacing:-39.455520px;}
.ws10{word-spacing:-39.207760px;}
.ws16{word-spacing:-37.071040px;}
.ws8{word-spacing:-32.520000px;}
.ws5{word-spacing:-31.691360px;}
.ws22{word-spacing:-29.040000px;}
.ws14{word-spacing:-27.960000px;}
.ws28{word-spacing:-27.910240px;}
.ws1d{word-spacing:-27.887760px;}
.ws2b{word-spacing:-27.807760px;}
.ws29{word-spacing:-27.686560px;}
.ws25{word-spacing:-27.663280px;}
.ws1e{word-spacing:-27.591040px;}
.ws2a{word-spacing:-27.321520px;}
.ws20{word-spacing:-23.296000px;}
.ws3{word-spacing:-21.000000px;}
.wsa{word-spacing:-14.400000px;}
.ws1b{word-spacing:-14.160000px;}
.wsb{word-spacing:-13.920000px;}
.ws1a{word-spacing:-13.800000px;}
.ws1c{word-spacing:-13.680000px;}
.ws2c{word-spacing:-13.600000px;}
.wsf{word-spacing:-11.760000px;}
.ws17{word-spacing:-9.087760px;}
.ws4{word-spacing:-5.280000px;}
.ws15{word-spacing:-0.960000px;}
.ws21{word-spacing:0.000000px;}
.ws12{word-spacing:0.200000px;}
.ws23{word-spacing:1.632240px;}
.ws24{word-spacing:1.680000px;}
.ws2{word-spacing:251.828000px;}
.ws1{word-spacing:283.412000px;}
._b{margin-left:-37.585520px;}
._c{margin-left:-36.563280px;}
._4{margin-left:-28.631040px;}
._7{margin-left:-27.165600px;}
._5{margin-left:-18.613200px;}
._0{margin-left:-9.600000px;}
._e{margin-left:-8.574000px;}
._8{margin-left:-6.095280px;}
._9{margin-left:-4.473600px;}
._6{margin-left:-2.640000px;}
._3{margin-left:-1.118400px;}
._2{width:1.040000px;}
._a{width:2.259280px;}
._1{width:24.000000px;}
._d{width:27.960000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:55.920000px;}
.fs3{font-size:64.080000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y17{bottom:9.360000px;}
.y16{bottom:34.380000px;}
.y14{bottom:91.260000px;}
.y13{bottom:122.460000px;}
.y12{bottom:153.680000px;}
.y11{bottom:184.880000px;}
.y10{bottom:216.080000px;}
.y29{bottom:218.900000px;}
.yf{bottom:247.280000px;}
.y28{bottom:250.100000px;}
.ye{bottom:278.480000px;}
.y27{bottom:281.300000px;}
.yd{bottom:309.680000px;}
.y26{bottom:312.500000px;}
.yc{bottom:340.880000px;}
.y25{bottom:343.700000px;}
.yb{bottom:372.080000px;}
.y24{bottom:374.900000px;}
.ya{bottom:403.280000px;}
.y23{bottom:406.100000px;}
.y9{bottom:434.500000px;}
.y22{bottom:437.320000px;}
.y8{bottom:465.700000px;}
.y21{bottom:468.520000px;}
.y7{bottom:496.900000px;}
.y20{bottom:499.720000px;}
.y6{bottom:528.100000px;}
.y1f{bottom:530.920000px;}
.y5{bottom:559.300000px;}
.y1e{bottom:562.120000px;}
.y15{bottom:592.420000px;}
.y1d{bottom:593.320000px;}
.y1c{bottom:624.520000px;}
.y1b{bottom:655.720000px;}
.y4{bottom:663.400000px;}
.y1a{bottom:686.920000px;}
.y3{bottom:694.600000px;}
.y19{bottom:718.140000px;}
.y2{bottom:723.300000px;}
.y1{bottom:746.400000px;}
.y18{bottom:749.340000px;}
.h3{height:37.687500px;}
.h8{height:39.000000px;}
.h7{height:40.875000px;}
.h9{height:43.905938px;}
.h5{height:47.619375px;}
.h2{height:50.343750px;}
.h4{height:54.568125px;}
.h6{height:58.740000px;}
.h1{height:651.500000px;}
.h0{height:841.920000px;}
.w3{width:68.000000px;}
.w2{width:421.180000px;}
.w1{width:511.000000px;}
.w0{width:595.320000px;}
.x7{left:5.160000px;}
.x6{left:29.280000px;}
.x0{left:84.500000px;}
.x1{left:90.020000px;}
.x5{left:118.100000px;}
.x4{left:129.020000px;}
.x3{left:153.140000px;}
.x9{left:258.040000px;}
.x2{left:311.740000px;}
.xb{left:342.040000px;}
.xa{left:370.060000px;}
.x8{left:527.500000px;}
