.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,monospace;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.906250;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.683594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-9.360000px;}
.lsd{letter-spacing:-0.240000px;}
.lsb{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192000px;}
.ls0{letter-spacing:0.240000px;}
.ls2{letter-spacing:0.912000px;}
.ls16{letter-spacing:0.960000px;}
.lsf{letter-spacing:1.680000px;}
.ls7{letter-spacing:2.832000px;}
.ls11{letter-spacing:5.760000px;}
.ls13{letter-spacing:11.040000px;}
.ls14{letter-spacing:11.120000px;}
.lse{letter-spacing:12.000000px;}
.ls15{letter-spacing:12.080000px;}
.ls12{letter-spacing:12.720000px;}
.lsa{letter-spacing:12.960000px;}
.ls3{letter-spacing:15.360000px;}
.ls4{letter-spacing:15.600000px;}
.ls5{letter-spacing:15.680000px;}
.ls10{letter-spacing:17.472000px;}
.ls6{letter-spacing:17.760000px;}
.ls9{letter-spacing:24.000000px;}
.ls8{letter-spacing:26.880000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2a{word-spacing:-65.472000px;}
.ws30{word-spacing:-53.760000px;}
.ws29{word-spacing:-49.680000px;}
.ws42{word-spacing:-48.960000px;}
.ws7{word-spacing:-48.912000px;}
.ws0{word-spacing:-48.240000px;}
.ws27{word-spacing:-48.192000px;}
.wsc{word-spacing:-48.000000px;}
.ws3e{word-spacing:-47.760000px;}
.ws2c{word-spacing:-38.080000px;}
.ws39{word-spacing:-36.960000px;}
.ws6{word-spacing:-36.240000px;}
.ws5{word-spacing:-36.160000px;}
.ws1b{word-spacing:-36.000000px;}
.wsd{word-spacing:-35.920000px;}
.ws3{word-spacing:-35.536000px;}
.ws3c{word-spacing:-35.280000px;}
.ws3d{word-spacing:-35.200000px;}
.ws20{word-spacing:-35.040000px;}
.ws33{word-spacing:-33.360000px;}
.ws1e{word-spacing:-33.280000px;}
.ws10{word-spacing:-32.320000px;}
.ws12{word-spacing:-32.160000px;}
.ws31{word-spacing:-30.240000px;}
.ws32{word-spacing:-30.160000px;}
.ws2e{word-spacing:-29.680000px;}
.ws1a{word-spacing:-29.280000px;}
.ws15{word-spacing:-26.224000px;}
.ws28{word-spacing:-25.600000px;}
.wse{word-spacing:-24.480000px;}
.ws41{word-spacing:-24.096000px;}
.wsb{word-spacing:-24.000000px;}
.ws34{word-spacing:-23.920000px;}
.ws40{word-spacing:-23.840000px;}
.ws35{word-spacing:-23.824000px;}
.ws25{word-spacing:-23.808000px;}
.ws1d{word-spacing:-23.680000px;}
.ws14{word-spacing:-23.632000px;}
.wsf{word-spacing:-23.616000px;}
.ws3b{word-spacing:-23.584000px;}
.ws2b{word-spacing:-23.488000px;}
.ws8{word-spacing:-23.296000px;}
.ws3f{word-spacing:-18.560000px;}
.ws2d{word-spacing:-14.160000px;}
.ws3a{word-spacing:-12.960000px;}
.ws19{word-spacing:-12.000000px;}
.ws1c{word-spacing:-11.920000px;}
.ws36{word-spacing:-11.280000px;}
.ws22{word-spacing:-11.200000px;}
.ws21{word-spacing:-11.040000px;}
.ws38{word-spacing:-10.960000px;}
.ws37{word-spacing:-10.800000px;}
.ws23{word-spacing:-10.560000px;}
.ws1f{word-spacing:-9.360000px;}
.ws9{word-spacing:-8.640000px;}
.wsa{word-spacing:-8.400000px;}
.ws11{word-spacing:-8.160000px;}
.ws13{word-spacing:-6.240000px;}
.ws24{word-spacing:0.000000px;}
.ws4{word-spacing:0.240000px;}
.ws26{word-spacing:0.320000px;}
.ws18{word-spacing:2.880000px;}
.ws16{word-spacing:2.928000px;}
.ws17{word-spacing:3.120000px;}
.ws2f{word-spacing:5.760000px;}
.ws43{word-spacing:120.000000px;}
.ws2{word-spacing:144.944000px;}
.ws1{word-spacing:168.960000px;}
._12{margin-left:-30.240000px;}
._11{margin-left:-27.600000px;}
._6{margin-left:-23.600000px;}
._f{margin-left:-18.208000px;}
._b{margin-left:-15.360000px;}
._9{margin-left:-9.360000px;}
._e{margin-left:-6.720000px;}
._a{margin-left:-4.800000px;}
._7{margin-left:-3.520000px;}
._8{margin-left:-2.320000px;}
._4{margin-left:-1.200000px;}
._1{width:1.104000px;}
._d{width:2.208000px;}
._c{width:3.744000px;}
._10{width:5.040000px;}
._0{width:9.000000px;}
._5{width:12.000000px;}
._3{width:24.000000px;}
._2{width:36.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:72.000000px;}
.y1e{bottom:81.960000px;}
.y3a{bottom:89.460000px;}
.y57{bottom:93.240000px;}
.y1d{bottom:105.360000px;}
.y39{bottom:113.460000px;}
.y56{bottom:116.640000px;}
.y1c{bottom:128.760000px;}
.y38{bottom:137.460000px;}
.y55{bottom:140.040000px;}
.y1b{bottom:149.600000px;}
.y37{bottom:161.480000px;}
.y54{bottom:163.460000px;}
.y1a{bottom:176.180000px;}
.y36{bottom:185.480000px;}
.y53{bottom:186.860000px;}
.y19{bottom:199.580000px;}
.y35{bottom:209.480000px;}
.y52{bottom:210.260000px;}
.y18{bottom:222.980000px;}
.y34{bottom:233.480000px;}
.y51{bottom:233.660000px;}
.y17{bottom:246.380000px;}
.y50{bottom:257.060000px;}
.y33{bottom:257.480000px;}
.y16{bottom:269.780000px;}
.y4f{bottom:280.460000px;}
.y32{bottom:281.480000px;}
.y15{bottom:290.600000px;}
.y4e{bottom:303.860000px;}
.y31{bottom:305.480000px;}
.y14{bottom:317.180000px;}
.y4d{bottom:327.260000px;}
.y30{bottom:329.480000px;}
.y13{bottom:340.580000px;}
.y4c{bottom:350.660000px;}
.y2f{bottom:356.060000px;}
.y12{bottom:363.980000px;}
.y4b{bottom:374.060000px;}
.y2e{bottom:379.460000px;}
.y11{bottom:387.380000px;}
.y4a{bottom:397.460000px;}
.y2d{bottom:402.860000px;}
.y10{bottom:410.780000px;}
.y49{bottom:420.860000px;}
.y2c{bottom:426.280000px;}
.yf{bottom:434.200000px;}
.y48{bottom:444.280000px;}
.y2b{bottom:449.680000px;}
.ye{bottom:457.600000px;}
.y47{bottom:467.680000px;}
.y2a{bottom:473.080000px;}
.yd{bottom:481.000000px;}
.y46{bottom:491.080000px;}
.y29{bottom:496.480000px;}
.yc{bottom:504.400000px;}
.y45{bottom:514.480000px;}
.y28{bottom:519.880000px;}
.yb{bottom:527.800000px;}
.y44{bottom:537.880000px;}
.y27{bottom:543.280000px;}
.ya{bottom:551.200000px;}
.y43{bottom:558.700000px;}
.y26{bottom:566.680000px;}
.y9{bottom:574.600000px;}
.y42{bottom:582.700000px;}
.y25{bottom:590.080000px;}
.y8{bottom:594.160000px;}
.y41{bottom:606.700000px;}
.y7{bottom:609.700000px;}
.y24{bottom:613.480000px;}
.y6{bottom:625.300000px;}
.y40{bottom:630.700000px;}
.y23{bottom:636.880000px;}
.y5{bottom:640.840000px;}
.y3f{bottom:654.700000px;}
.y22{bottom:660.280000px;}
.y4{bottom:662.020000px;}
.y3e{bottom:678.700000px;}
.y21{bottom:683.680000px;}
.y3{bottom:693.220000px;}
.y3d{bottom:702.720000px;}
.y20{bottom:707.100000px;}
.y2{bottom:724.440000px;}
.y3c{bottom:726.720000px;}
.y1f{bottom:730.500000px;}
.y3b{bottom:750.720000px;}
.y1{bottom:753.900000px;}
.y0{bottom:791.220000px;}
.h1{height:33.264000px;}
.h5{height:37.312500px;}
.h2{height:39.750000px;}
.h6{height:44.352000px;}
.h3{height:49.218750px;}
.h4{height:58.781250px;}
.h0{height:841.920000px;}
.w0{width:595.320000px;}
.x2{left:90.020000px;}
.x1{left:91.220000px;}
.x4{left:111.860000px;}
.x5{left:114.140000px;}
.x3{left:198.320000px;}
.x0{left:297.700000px;}
.x6{left:337.360000px;}
.x7{left:406.380000px;}
