.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.205000;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.804688;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.981971;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.714844;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-0.120000px;}
.lsa{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.120000px;}
.ls1{letter-spacing:0.192000px;}
.ls2{letter-spacing:0.192240px;}
.ls0{letter-spacing:0.240000px;}
.ls7{letter-spacing:10.560000px;}
.ls8{letter-spacing:10.680000px;}
.ls3{letter-spacing:12.000000px;}
.lsd{letter-spacing:12.080000px;}
.lsb{letter-spacing:13.680000px;}
.ls5{letter-spacing:20.760000px;}
.ls6{letter-spacing:21.000000px;}
.lse{letter-spacing:24.080000px;}
.ls9{letter-spacing:42.240000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws8{word-spacing:-64.080000px;}
.ws1{word-spacing:-48.240000px;}
.ws4{word-spacing:-48.000000px;}
.ws11{word-spacing:-42.000000px;}
.wsf{word-spacing:-36.000000px;}
.ws1c{word-spacing:-35.920000px;}
.ws9{word-spacing:-32.160000px;}
.ws7{word-spacing:-31.722400px;}
.wsa{word-spacing:-31.528960px;}
.wsb{word-spacing:-24.096000px;}
.wsc{word-spacing:-24.048000px;}
.ws5{word-spacing:-24.000000px;}
.ws17{word-spacing:-23.968000px;}
.ws1f{word-spacing:-23.952000px;}
.ws1e{word-spacing:-23.920000px;}
.ws1b{word-spacing:-23.840000px;}
.ws10{word-spacing:-21.000000px;}
.ws18{word-spacing:-20.920000px;}
.ws19{word-spacing:-20.880000px;}
.wsd{word-spacing:-12.000000px;}
.ws1d{word-spacing:-11.920000px;}
.ws12{word-spacing:-10.440000px;}
.ws15{word-spacing:-10.080000px;}
.ws16{word-spacing:-0.360000px;}
.ws6{word-spacing:-0.240000px;}
.ws13{word-spacing:-0.120000px;}
.wse{word-spacing:0.000000px;}
.ws14{word-spacing:0.080000px;}
.ws1a{word-spacing:0.144000px;}
.ws0{word-spacing:8.772000px;}
.ws3{word-spacing:72.576000px;}
.ws2{word-spacing:96.800000px;}
._7{margin-left:-24.000000px;}
._4{margin-left:-21.360000px;}
._5{margin-left:-9.360000px;}
._6{margin-left:-6.240000px;}
._1{width:1.136000px;}
._0{width:9.000000px;}
._2{width:21.000000px;}
._3{width:24.000000px;}
._8{width:864.096000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs2{font-size:42.000000px;}
.fs4{font-size:46.080000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:64.080000px;}
.y0{bottom:0.000000px;}
.y4{bottom:2.220000px;}
.y14{bottom:4.080000px;}
.y2b{bottom:4.320000px;}
.y30{bottom:7.440000px;}
.y23{bottom:7.560000px;}
.y1d{bottom:7.740000px;}
.y21{bottom:7.800000px;}
.y25{bottom:8.040000px;}
.y12{bottom:11.880000px;}
.y13{bottom:19.680000px;}
.y29{bottom:20.220000px;}
.y2f{bottom:23.040000px;}
.y2e{bottom:38.640000px;}
.y3{bottom:49.500000px;}
.y2{bottom:51.720000px;}
.y2d{bottom:54.260000px;}
.y1b{bottom:54.600000px;}
.y19{bottom:66.840000px;}
.y33{bottom:79.500000px;}
.y18{bottom:82.440000px;}
.y2c{bottom:96.000000px;}
.y17{bottom:98.040000px;}
.y16{bottom:113.640000px;}
.y32{bottom:119.040000px;}
.y31{bottom:142.160000px;}
.y28{bottom:165.560000px;}
.y4b{bottom:192.260000px;}
.y2a{bottom:197.300000px;}
.y4a{bottom:215.660000px;}
.y27{bottom:221.240000px;}
.y49{bottom:239.060000px;}
.y26{bottom:244.640000px;}
.y15{bottom:261.200000px;}
.y48{bottom:262.460000px;}
.y24{bottom:285.260000px;}
.y47{bottom:285.860000px;}
.y22{bottom:309.260000px;}
.y1a{bottom:332.360000px;}
.y46{bottom:332.660000px;}
.y20{bottom:355.760000px;}
.y45{bottom:356.060000px;}
.y1f{bottom:379.220000px;}
.y44{bottom:379.460000px;}
.y1e{bottom:402.680000px;}
.y43{bottom:402.860000px;}
.y1c{bottom:426.160000px;}
.y42{bottom:426.280000px;}
.y11{bottom:449.620000px;}
.y41{bottom:449.680000px;}
.y40{bottom:473.080000px;}
.y10{bottom:488.680000px;}
.y3f{bottom:496.480000px;}
.yf{bottom:512.080000px;}
.y3e{bottom:519.880000px;}
.ye{bottom:535.480000px;}
.y3d{bottom:543.280000px;}
.yd{bottom:558.880000px;}
.y3c{bottom:566.680000px;}
.yc{bottom:582.280000px;}
.y3b{bottom:590.080000px;}
.yb{bottom:605.860000px;}
.y3a{bottom:613.480000px;}
.ya{bottom:629.080000px;}
.y39{bottom:636.880000px;}
.y9{bottom:652.480000px;}
.y38{bottom:660.280000px;}
.y37{bottom:683.680000px;}
.y8{bottom:686.200000px;}
.y36{bottom:707.100000px;}
.y7{bottom:717.420000px;}
.y35{bottom:730.500000px;}
.y6{bottom:742.800000px;}
.y34{bottom:753.900000px;}
.y5{bottom:757.860000px;}
.y1{bottom:791.220000px;}
.h3{height:10.380000px;}
.h15{height:16.080000px;}
.h11{height:22.560000px;}
.h17{height:22.580000px;}
.hd{height:22.920000px;}
.h10{height:22.980000px;}
.hf{height:23.000000px;}
.h12{height:23.520000px;}
.h5{height:30.023438px;}
.h9{height:31.200000px;}
.h2{height:33.264000px;}
.he{height:33.796875px;}
.h8{height:34.740000px;}
.ha{height:34.781250px;}
.h13{height:38.625000px;}
.h18{height:39.000000px;}
.h4{height:39.750000px;}
.h7{height:40.759615px;}
.h14{height:47.820000px;}
.h6{height:53.066250px;}
.h16{height:69.080000px;}
.hc{height:116.720000px;}
.hb{height:187.880000px;}
.h1{height:481.500000px;}
.h0{height:841.920000px;}
.w2{width:15.000000px;}
.w6{width:53.520000px;}
.wc{width:55.740000px;}
.wd{width:55.760000px;}
.w8{width:61.320000px;}
.w3{width:62.520000px;}
.w7{width:62.540000px;}
.we{width:68.000000px;}
.w4{width:80.520000px;}
.w5{width:92.360000px;}
.wa{width:112.020000px;}
.wb{width:112.040000px;}
.w9{width:125.540000px;}
.w1{width:496.500000px;}
.w0{width:595.320000px;}
.x4{left:0.000000px;}
.xf{left:5.760000px;}
.x1f{left:6.780000px;}
.x13{left:8.760000px;}
.x9{left:10.260000px;}
.x1d{left:12.120000px;}
.x14{left:13.620000px;}
.x15{left:15.480000px;}
.x12{left:17.520000px;}
.xb{left:19.260000px;}
.x16{left:23.420000px;}
.xd{left:25.160000px;}
.x18{left:28.640000px;}
.x19{left:31.280000px;}
.x1a{left:41.760000px;}
.x17{left:43.580000px;}
.x2{left:90.020000px;}
.x0{left:99.000000px;}
.x8{left:114.020000px;}
.x5{left:116.840000px;}
.x7{left:142.040000px;}
.xa{left:162.260000px;}
.x6{left:193.280000px;}
.xc{left:243.260000px;}
.x22{left:282.040000px;}
.x1b{left:288.280000px;}
.x3{left:290.200000px;}
.x1{left:297.700000px;}
.xe{left:336.100000px;}
.x1e{left:344.560000px;}
.x10{left:390.100000px;}
.x1c{left:400.780000px;}
.x11{left:453.120000px;}
.x20{left:457.080000px;}
.x21{left:527.500000px;}
